<!-- DFB pg. 176 -->
{% extends "base_with_sidebar.html" %}

{% block title %}{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock css %}

{% block content %}
<script>

    document.addEventListener("DOMContentLoaded", function () {
        // https://stackoverflow.com/questions/18437761/how-to-make-text-appear-when-you-choose-a-certain-option
        const visibilityField = document.getElementById("{{ form.visibility.id_for_label }}");
        const authorList = document.getElementById("author_list");
        const authorDropdown = document.getElementById("author_dropdown");
        const sharedWith = document.getElementById("{{ form.sharedWith.id_for_label }}");
        const imageRemoved = document.getElementById("{{ form.imageRemoved.id_for_label }}");
        const fileInput = document.getElementById("{{ form.picture.id_for_label }}");
        const deleteImage = document.querySelector(".delete-image");
        fileInput.style.marginTop = "10px";
        fileInput.addEventListener("change", function() {
            const uploadedImage = document.getElementById('uploadedImage');
            imageRemoved.value = "False";

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    uploadedImage.src = e.target.result;
                    document.querySelector(".image-container").style.display = "block";
                    document.querySelector(".delete-image").style.display = "block";
                    console.log(e.target.result)
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });

        deleteImage.addEventListener("click", function() {
            imageRemoved.value = "True";
            document.querySelector(".image-container").style.display = "none";
            document.querySelector(".delete-image").style.display = "none";
        });
        
        const imageData = "{{ imageData }}";
        if (imageData == "") {
            document.querySelector(".image-container").style.display = "none";
            document.querySelector(".delete-image").style.display = "none";
        } else {
            const uploadedImage = document.getElementById('uploadedImage');
            uploadedImage.src = imageData;
        }

        sharedWith.style.display = "none";
        
        if (document.getElementById("{{ form.contentType.id_for_label }}").value.length == 0) {
            document.getElementById("{{ form.contentType.id_for_label }}").value = "Text";
        } else {
            document.getElementById("contentTypeButton").textContent = document.getElementById("{{ form.contentType.id_for_label }}").value;
        }

        // Check the initial value
        if (visibilityField.value === "PRIVATE") {
            authorList.style.display = "flex";
            authorDropdown.value = sharedWith.value;
        } else {
            authorList.style.display = "none";
        }

        // Add an event listener for changes
        visibilityField.addEventListener("change", function () {
            if (this.value === "PRIVATE") {
                authorList.style.display = "flex";
            } else {
                authorList.style.display = "none";
            }
        });

        document.getElementById("author_dropdown").addEventListener("change", function() {
            document.getElementById("{{ form.sharedWith.id_for_label }}").value = this.value;
        });

        document.getElementById("contentTypeButton").addEventListener("click", function() {
            const options = ["Text", "Markdown", "Image"]
            const index = options.indexOf(document.getElementById("{{ form.contentType.id_for_label }}").value);

            if (index == 2) {
                document.getElementById("{{ form.contentType.id_for_label }}").value = options[0];
            } else {
                document.getElementById("{{ form.contentType.id_for_label }}").value = options[index + 1];
            }
            
            if (document.getElementById("{{ form.contentType.id_for_label }}").value == "Image") {
                document.getElementById("{{ form.content.id_for_label }}").style.visibility = "hidden";
            } else {
                document.getElementById("{{ form.content.id_for_label }}").style.visibility = "visible"
            }

            this.textContent = document.getElementById("{{ form.contentType.id_for_label }}").value;
        });

        document.querySelector(".categoryAdd").addEventListener("click", function() {
            const categoryInput = document.querySelector(".categoryInput");

            if (categoryInput.value == "" || document.getElementById("{{ form.categories.id_for_label }}").value.split(',').includes(categoryInput.value)) {
                return;
            }

            const categoryList = document.querySelector(".categoryList");
            const category = document.createElement("div");
            category.classList.add("category-box");

            category.innerHTML = `<p style="margin-top: 7.5px; color:#FFD553">${categoryInput.value}</p><button style="margin-top: 5px;" type="button"><i class="categoryRemove material-symbols-outlined">close</i></button>`;
            categoryList.appendChild(category);
            categoryInput.value = "";

            document.getElementById("{{ form.categories.id_for_label }}").value = Array.from(document.querySelectorAll(".category-box p")).map(function(category) {
                return category.textContent;
            });
            console.log(document.getElementById("{{ form.categories.id_for_label }}").value);
        });

        document.addEventListener("click", function(event) {
            const clickedElement = event.target;
            console.log(event.target);
            if (clickedElement.classList.contains("categoryRemove")) {
                const categoryBox = clickedElement.closest(".category-box");

                if (categoryBox) {
                    const categoryTextElement = categoryBox.querySelector("p");
                    const categoryInput = categoryTextElement.textContent;

                    document.getElementById("{{ form.categories.id_for_label }}").value = document.getElementById("{{ form.categories.id_for_label }}").value.split(',').filter(function(category) {
                        return category != categoryInput;
                    });
                    console.log(document.getElementById("{{ form.categories.id_for_label }}").value);
                    categoryBox.remove();
                }
            }
        });

        // Categories
        console.log(document.getElementById("id_categories").value);
        if (document.getElementById("id_categories").value.length > 0) {
            const cat = document.getElementById("id_categories").value;
            const categories = cat.split(',');
            categories.forEach(function(category) {
                const categoryList = document.querySelector(".categoryList");
                const categoryBox = document.createElement("div");
                categoryBox.classList.add("category-box");

                categoryBox.innerHTML = `<p style="margin-top: 7.5px; color:#FFD553">${category}</p><button style="margin-top: 5px;" type="button"><i class="categoryRemove material-symbols-outlined">close</i></button>`;
                categoryList.appendChild(categoryBox);
            });
        }
    });
</script>

<form id="popup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="root" class="container_flex">
        <div class="row-flex" style="justify-content: space-evenly;">
            <div class="row-flex">
                <h1 style="margin-top:15px;">Create Post</h1><button class="contentTypeButton" type="button" id="contentTypeButton">Text</button>
            </div>
            <div style="flex: 1; margin-left: 10px; margin-right:10px; max-width: 2px; background-color: white;"></div>
            <div class="col-flex" style="align-items: center; justify-content: center;">
                <p class="form_input" style="margin-top:10px;">Who should be able to see your post?</p>
                <div style="margin-left: 10px; margin-top:5px;">{{ form.visibility }}</div>
            </div>
            
            {{ form.sharedWith }}
            <div id="author_list" class="author_list" style="margin-left: 10px; align-items: center; justify-content: center;">
                <p class="form_input" style="margin-top:10px;">Share with:</p>
                <select id="author_dropdown" name="author_list" style="margin-left: 10px; margin-top:5px;">
                    {% for author in author_list %}
                        <option value="{{ author.uuid }}">{{ author.displayName }}</option>
                    {% endfor %}
                </select>
            </div>

            <div style="display:none;">
                {{ form.contentType }}
                {{ form.categories }}
                {{ form.imageRemoved }}
            </div>
            
            <!-- <div class="grow-flex"></div>
            <button type="button"><i class="material-symbols-outlined">close</i></button> -->
        </div>
        <div class="row-flex" style="margin-top:15px;">
            <div class="col-flex" style="width:30%;">
                <p class="form_input">Title:</p>
                <p class="form_input" style="margin-top:10px">Short Description:</p>
                <p class="form_input" style="margin-top:10px">Categories:</p>
            </div>
            <div class="col-flex" style="width:70%;">
                {{ form.title }}
                {{ form.description }}
                <div class="row-flex" style="height:30px; margin:0; padding:0">
                    <input type="text" class="categoryInput" style="max-height:30px; max-width:150px;">
                    <button class="categoryAdd" type="button"><i class="material-symbols-outlined" style="margin-top:5px">add_circle</i></button>
                </div>
            </div>
        </div>
        <div class="categoryList" style="margin-top:20px;">
        </div>
        <div class="row-flex" style="margin-top:15px; height: 100%;">{{ form.content }}</div>
        <div class="row-flex" style="margin-top:15px;">
            <div class="image-container">
                <img id="uploadedImage" class="uploaded-image" src="#" alt="Uploaded Image">
            </div>
            <button style="margin-right:2em;" class="delete-image" type="button"><span class="material-symbols-outlined">close</span></button>
            {{ form.picture }}
            <div class="grow-flex"></div>
            <button class="post_button" type="submit">Post</button>
        </div>
    </div>
</form>
{% endblock content %}
