<!-- DFB pg. 176 -->
{% extends "base_with_sidebar.html" %}

{% block title %}{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock css %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // https://stackoverflow.com/questions/18437761/how-to-make-text-appear-when-you-choose-a-certain-option
        const visibilityField = document.getElementById("{{ form.visibility.id_for_label }}");
        const authorList = document.getElementById("author_list");
        const authorDropdown = document.getElementById("author_dropdown");
        const sharedWith = document.getElementById("{{ form.sharedWith.id_for_label }}");

        sharedWith.style.display = "none";

        // Check the initial value
        if (visibilityField.value === "PRIVATE") {
            authorList.style.display = "flex";
            authorDropdown.value = sharedWith.value;
        } else {
            authorList.style.display = "none";
        }

        // Add an event listener for changes
        visibilityField.addEventListener("change", function () {
            if (this.value === "PRIVATE") {
                authorList.style.display = "flex";
            } else {
                authorList.style.display = "none";
            }
        });

        document.getElementById("author_dropdown").addEventListener("change", function() {
            document.getElementById("{{ form.sharedWith.id_for_label }}").value = this.value;
        });
    });
</script>

<form id="popup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container_flex">
        <div class="row-flex" style="justify-content: space-evenly;">
            <h1 style="margin-top:15px;">Create Post</h1>
            <div style="flex: 1; margin-left: 10px; margin-right:10px; max-width: 2px; background-color: white;"></div>
            <div class="col-flex" style="align-items: center; justify-content: center;">
                <p class="form_input" style="margin-top:10px;">Who should be able to see your post?</p>
                <div style="margin-left: 10px; margin-top:5px;">{{ form.visibility }}</div>
            </div>
            
            {{ form.sharedWith }}
            <div id="author_list" class="author_list" style="margin-left: 10px; align-items: center; justify-content: center;">
                <p class="form_input" style="margin-top:10px;">Share with:</p>
                <select id="author_dropdown" name="author_list" style="margin-left: 10px; margin-top:5px;">
                    {% for author in author_list %}
                        <option value="{{ author.uuid }}">{{ author.displayName }}</option>
                    {% endfor %}
                </select>
            </div>

            <script>
                
            </script>
            
            <!-- <div class="grow-flex"></div>
            <button type="button"><i class="material-symbols-outlined">close</i></button> -->
        </div>
        <div class="row-flex" style="margin-top:15px;">
            <div class="col-flex" style="width:30%;">
                <p class="form_input">Title:</p>
                <p class="form_input">Short Description:</p>
                <p class="form_input">Categories:</p>
            </div>
            <div class="col-flex" style="width:70%;">
                {{ form.title }}
                {{ form.description }}
                {{ form.categories }}
            </div>
        </div>
        <div class=row-flex style="margin-top:15px; height: 100%;">{{ form.content }}</div>
        <div class="row-flex" style="margin-top:15px;">
            {{ form.picture }}
            <div class="grow-flex"></div>
            <button class="post_button" type="submit">Post</button>
        </div>
    </div>
</form>
{% endblock content %}
