<!-- DFB pg. 175 -->
{% extends "base_with_sidebar.html" %}

{% block title %}Dashboard{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/dashboard.css' %} ">
<script src="{% static '/js/post_popup.js' %}"></script>
{% endblock css %}

{% block content %}

{% for post in all_posts %}
    <div class="post" style="margin-top:3em">
        <section id="post_author">
            <img src="{{ post.author.profileImage }}" href="{% static 'css/main.css' %}" class="profile_picture"></img>
            <a href="{{ post.author.url }}">{{ post.author.displayName}}</a>
            <div class="flex_grow"></div>
            <p style="align-self: end;">{{ post.published }}</p>
        </section>
        <section id="post_body">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
        </section>
        <div class="flex_grow"></div>
        <div class="footer">
            <p class="likes">Likes: {{ post.count}} </p>
            <!-- https://www.w3schools.com/howto/howto_css_icon_buttons.asp -->
            <button style="padding-top: 10px;" type="button"><i class="material-symbols-outlined">favorite</i></button>
            <button style="padding-top: 10px;" type="button"><i class="material-symbols-outlined">tooltip</i></button>
        </div>
    </div>
{% empty %}
    <div style="padding:10px;">
        <h1 style="text-align: center;">Looks like there's no posts available. Why not make one?</h1>
        <div style="text-align: center;"><a  href="{% url 'new_post' %}" class="no_post_button">Make a Post</a></div>
        <div class="flex_grow"></div>
    </div>
{% endfor %}


{% endblock content %}