<!-- DFB pg. 175 -->
{% extends "base_with_sidebar.html" %}

{% block title %}Dashboard{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/dashboard.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<script src="{% static '/js/post_popup.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">

<!-- Script for handling ajax of button presses -->
<script>
    $(document).ready(function () {
        var csrfToken = $('meta[name=csrf-token]').attr('content');

        $(".like-button").click(function () {
            var post_json = $(this).siblings(".post-data").text(); // get the corresponding post as json from the html
            var post = JSON.parse(post_json); //parse the json into an object
            var likeButtonData = $(this).siblings(".like-button-data");
            var likeButtonAlreadyPressed = likeButtonData.data('already-pressed-this-session');

            if (!likeButtonAlreadyPressed){
                $.ajax({
                    //Send the post data to the backend using a POST command, and specify content is json
                    url: '{% url "like_post" %}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ post: post }),
                    headers: { 'X-CSRFToken': csrfToken }, //include authentication token

                    //Handle the response data from the server, and update the corresponding like count on the webpage
                    success: function (data) {
                        // Update the like count using the returned value (from the backend)
                        likeButtonData.data('already-pressed-this-session', 'true'); //log that the like button has already been pressed this session
                        $('#result-' + post.uuid).text(data.new_post_count); //Update the like count with whatever the backend returns
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });
            }
        });

        $(".comment-button").click(function () {
            var post_json = $(this).siblings(".post-data").text(); // get the corresponding post as json from the html
            var post = JSON.parse(post_json); //parse the json into an object
            var commentContainer = $("#comment-box-container-" + post.uuid + " .scrollable-comments");

            // Get existing comments for this post, and load them into the comments container
            $.ajax({
                    url: '{% url "open_comments" %}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ post: post }),
                    headers: { 'X-CSRFToken': csrfToken }, //include authentication token
                    success: function (data) {
                        // the backend returns all comments for a post. Here we display them (add them into a container)
                        var comments = JSON.parse(data.comments);
                        commentContainer.empty();
                        // TODO: Store a link to the commenter's inbox after receiving the comment
                        
                        // Add the comment elements to the page
                        comments.forEach(function (comment) {
                            comment_uuid = comment.id;
                            if (comment_uuid.endsWith("/")) {
                                comment_uuid = comment_uuid.slice(0, -1);
                            }
                            comment_uuid = comment_uuid.substring(comment_uuid.lastIndexOf("/") + 1);

                            var author_inbox = comment.author.id.replace(/\/$/, "") + "/inbox"; // Extract author_inbox URL
                            var commentElement = '<div class="comment" data-author-inbox="' + author_inbox + '">' + //add author_inbox as field of comment
                                '<img src="' + comment.author.profileImage + '" class="comment-profile-picture" alt="Profile Picture">' +
                                '<div class="comment-details">' +
                                    '<p class="comment-username">' + comment.author.displayName + '</p>' +
                                    '<p class="comment-text">' + comment.comment + '</p>' +
                                '</div>' +
                                '<button class="like-comment-button comment_section_button material-symbols-outlined" data-comment-uuid="' + comment_uuid + '">thumb_up</button>' +
                                '</div>';
                            commentContainer.append(commentElement);
                        });

                        $("#comment-box-container-" + post.uuid).show();
                    
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });
        });

        $(".cancel-comment-button").click(function () {
            var post_uuid = $(this).data("post-uuid");
            $("#comment-box-container-" + post_uuid).hide();
        });

        $(document).on('click', '.like-comment-button', function () {
            var post_json = $(this).closest('.post-container').find(".comment-post-data").text();
            var post = JSON.parse(post_json); //parse the json into an object
            var comment_uuid = $(this).data("comment-uuid");
            var author_inbox = $(this).closest('.comment').data('author-inbox');

            // Use ajax to get backend to send a like to a comment
            $.ajax({
                    url: '{% url "like_comment" %}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ post: post, comment_uuid: comment_uuid, author_inbox: author_inbox}),
                    headers: { 'X-CSRFToken': csrfToken }, //include authentication token
                    success: function (data) {
                        console.log("returned from like comment handler")

                    
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });

        });

        $(".submit-comment-button").click(function () {
            var post_json = $(this).siblings(".comment-post-data").text(); // get the corresponding post as json from the html
            var post = JSON.parse(post_json); //parse the json into an object
            var commentText = $("#comment-textbox-" + post.uuid).val(); // Get the comment text from the text box
            var commentContainer = $("#comment-box-container-" + post.uuid + " .scrollable-comments");

            if (commentText.trim() !== "") {
                $.ajax({
                    url: '{% url "submit_comment" %}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        post: post, 
                        comment_text: commentText
                    }),
                    headers: { 'X-CSRFToken': csrfToken }, //include authentication token
                    success: function (data) {
                        // Here we read the list of all comments from the db that perfectly match the comment just submitted (this will only be one comment, but for the sake of using the same code as above, we kept this structure)
                        // Once we get the new comment from the db, we add it to the comments displayed
                        var comments = JSON.parse(data.comments);
                        // Add the comment element to the page
                        comments.forEach(function (comment) {
                            var author_inbox = comment.author.id.replace(/\/$/, "") + "/inbox"; // Extract author_inbox URL
                            var commentElement = '<div class="comment" data-author-inbox="' + author_inbox + '">' + //add author_inbox as field of comment
                                '<img src="' + comment.author.profileImage + '" class="comment-profile-picture" alt="Profile Picture">' +
                                '<div class="comment-details">' +
                                    '<p class="comment-username">' + comment.author.displayName + '</p>' +
                                    '<p class="comment-text">' + comment.comment + '</p>' +
                                '</div>' +
                                '<button class="like-comment-button comment_section_button material-symbols-outlined" data-comment-uuid="' + comment.uuid + '">thumb_up</button>' +
                            '</div>';
                            commentContainer.append(commentElement);
                        });
                        $("#comment-textbox-" + post.uuid).val(''); // Clear the contents of the textbox after successfully adding the comment
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });
            }
            else {
                alert("Please enter text before submitting a comment.");
            }
        });

        
        
        $(".authorDetails").click(function () {
            
            var csrfToken = $('meta[name=csrf-token]').attr('content');
            var get_url = $(this).data("get-url");
            var host = $(this).data("host");

            $.ajax({
                url: "/authors/profile/determine-args/",
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    get_url: get_url,
                    host : host,
                },
                success: function(data) {
                    json_data = JSON.parse(data);
                    // console.log(json_data.host_index);
                    var index = json_data.host_index;
                    var uuid = json_data.uuid;
                    window.location.href = "/authors/" + index + "/" + uuid + "/";
                },
                error: function (xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                        alert("The API being called for this request does not support this feauture.");
                    } else {
                        alert("An unknown error has occured. Please try again.");
                    }
                }
            });

        });

        $(".delete-confirm").click(function () {
            var post_uuid = $(this).data("post-uuid"); // Get the post ID from the button's data attribute
            var author_uuid = $(this).data("author-uuid");
            $.ajax({
                url: "/posts/" + post_uuid + "/delete",
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function(data) {
                    location.reload();
                    $("#modal").hide();
                },
                error: function (xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                        alert("The API being called for this request does not support this feauture.");
                    } else {
                        alert("An unknown error has occured. Please try again.");
                    }
                }
            });
            
        });

        $(document).on('click', '.follower-item', function () {
            console.log("entered handler")
            // var post_json = $(this).closest('.post-container').find(".share-post-data").text();
            // console.log(post_json)
            var follower_inbox = $(this).closest('.follower-item').data('follower-inbox');
            var post_json = decodeURIComponent($(this).closest('.follower-item').data('post-json'));
            var post = JSON.parse(post_json); //parse the json into an object

            // Use ajax to get backend to send a post to a user's inbox
            $.ajax({
                    url: '{% url "share_post" %}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ post: post, follower_inbox: follower_inbox}),
                    headers: { 'X-CSRFToken': csrfToken }, //include authentication token
                    success: function (data) {
                        console.log("returned from share post handler")
                        var closeButton = document.querySelector('.share-close-button');
                        if (closeButton) {
                            closeButton.click();
                        } else {
                            console.error('Close button not found.');
                        }
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });

        });

        $(".share_button").click(function () {
            var post_json = $(this).closest('.post-container').find(".comment-post-data").text();
            post_json = encodeURIComponent(post_json)
            var user_uuid = $(this).data("user-uuid")
            var username = 'api' 
            var password = 'apiadminuser'

            $.ajax({
                    url: '/authors/' + user_uuid + '/followers/', 
                    method: 'GET',
                    contentType: 'application/json',
                    headers: {
                      'Authorization': 'Basic ' + btoa(username + ':' + password)
                    },

                    success: function (data) {
                        /* console.log("RETURNED DATA: ");
                        console.dir(data);
                        console.log("Stuff:")
                        console.log(data.items) */
                        console.log("List of Followers:")
                        var array_of_followers = data.items
                        for (let i = 0; i < array_of_followers.length; i++) {
                            if (i === 4) {break;} // limit max users displayed to 5

                            //console.log("User: " + array_of_followers[i].displayName)
                            //console.log("PFP: " + array_of_followers[i].profileImage)
                            user_name = array_of_followers[i].displayName
                            profile_picture = array_of_followers[i].profileImage
                            var follower_inbox = array_of_followers[i].id.replace(/\/$/, "") + "/inbox"; // Extract follower_inbox URL

                            // Create HTML elements for follower info
                            var followerElement = '<button type="button" class="follower-item" data-follower-inbox="' + follower_inbox + '"  data-post-json="' + post_json + '"   >' +
                                '<img src="' + profile_picture + '" class="follower-profile-picture" alt="Profile Picture">' +
                                '<p class="follower-username">' + user_name + '</p>' +
                                '</button>';

                            // Append followerElement to the followers-list in share_modal
                            $("#share_modal .followers-list").append(followerElement);
                        } 
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });
        });

        $(".share-close-button").click(function () {
            // hades
            //$("#share_modal .followers-list").empty()
            $.ajax({
                    success: function (data) {
                        //console.log("close share triggered")
                        $("#share_modal .followers-list").empty()
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'feature-not-supported') {
                            alert("The API being called for this request does not support this feauture.");
                        } else {
                            alert("An unknown error has occured. Please try again.");
                        }
                    }
                });
        });

    });

    const pageAccessedByReload = ( // https://stackoverflow.com/a/53307588
        (window.performance.navigation && window.performance.navigation.type === 1) ||
            window.performance
            .getEntriesByType('navigation')
            .map((nav) => nav.type)
            .includes('reload')
            
        );


    if (pageAccessedByReload == true) {
        //console.log("The page was reloaded.")
        $.ajax({
                url: "/connections/refresh-cache?type=posts",
                method: 'GET',
                success: function(data) {
                    //console.log("Sent GET request to /connections/refresh-cache?type=posts");
                },
                error: function(data) {
                    //console.log("Error sending request.");
                }
        });   
    } else {
        //console.log("Did not reload; came from somewhere else or initial visit to dashboard.")
    }

</script>
<!-- <script src="{% static '/js/like_button.js' %}"></script> -->

{% endblock css %}

{% block content %}

{% for post in all_posts %}
    <div class="post-container">
        {% if post.author_index == 1 %}
        <div class="post" style="margin-top:3em; border-color: #34bdeb">
        {% elif post.author_index == 2 %}
        <div class="post" style="margin-top:3em; border-color: #7947ed">
        {% elif post.author_index == 3 %}
        <div class="post" style="margin-top:3em; border-color: #fc4c4c">
        {% elif post.author_index == 4 %}
        <div class="post" style="margin-top:3em; border-color: #73fc03">
        {% else %}
        <div class="post" style="margin-top:3em;">
        {% endif %}
            <section id="post_author">
                <div class="authorDetails" data-get-url="{{ post.author.id }}" data-host="{{ post.author.host }}">
                    <img src="{{ post.author.profileImage }}" data-author-index="{{ post.author_index }}" href="{% static 'css/main.css' %}" class="profile_picture"></img>
                    <p class="profile_name" style="margin: 0; margin-left:0.25em; margin-top: 0.25em; color:black; font-size:24px; user-select: none">{{ post.author.displayName}}</p>
                </div>
                <div class="flex_grow"></div>
                <p style="align-self: end;">{{ post.delta }}</p>


                {% if post.visibility == 'PUBLIC'%}
                    <span class="material-symbols-outlined" style="margin:0; height:20px; width:20px;">Public</span>
            
                {%elif post.visibility == 'FRIENDS'%}
                    <span class="material-symbols-outlined" style="margin:0; height:20px; width:20px;">Group</span>
                

                {%elif post.visibility == 'UNLISTED'%}
                    <span class="material-symbols-outlined" style="margin:0; height:20px; width:20px;">Lock_Open</span>
                

                {%elif post.visibility == 'PRIVATE'%}
                    <span class="material-symbols-outlined" style="margin:0; height:20px; width:20px;">Lock</span>
                {%endif%}

            </section>
            <section id="post_body">
                <h1 style="margin-left: 5px;">{{ post.title }}</h1>
                <hr style="border: 1px solid white; margin:5px;">
                <br>
                {% if post.contentType == "text/plain" or post.contentType == "text/markdown" %}
                    {{ post.content|safe }}
                {% endif %}
            </section>
            {% if post.contentType == "application/base64" or post.contentType == "image/jpeg;base64" or post.contentType == "image/png;base64" %}
                <div style=" margin-bottom:2px;" >
                    <img class="postImage" src="data:{{ post.contentType }},{{ post.content }}" alt="Image for {{ post.title }}" />
                </div>
            {% endif %}
            <div class="flex_grow" style="background-color: #2a2a2a;"></div>
            <div class="footer">
                <!-- Post like button -->
                <!-- Old -->
                <!-- <span class="material-symbols-outlined" style="padding: 10px; font-size:33px;">thumb_up</span> -->
                <!-- <p class="likes"id="result-{{ post.uuid }}">{{ post.likeCount}} </p> -->
                <!-- <button style="padding-top: 10px;" type="button"class="like-button"><i class="material-symbols-outlined">favorite</i></button> -->
                <div class="post-data" style="display: none;">{{ post|json_script }}</div> <!-- create a hidden html element that contains the post data in json format. We will read this in our ajax handler for the like button -->
                <!-- New Comment Button -->
                <!-- <div class="like-button-data" style="display: none;" data-already-pressed-this-session="false"></div> -->
                <a class="button-icon-link like-button">
                    <span title="{{ post.likeCount}} people liked this post" class="material-symbols-outlined button-icon" style="margin:0;">thumb_up</span>
                </a>

                <p class="likes" style="margin-top:7px; margin-left:4px;" id="result-{{ post.uuid }}">{{ post.likeCount}} </p>

                <!-- comment button-->
                <!-- Old Comment Button -->
                <!-- <button style="padding-top: 10px;" type="button"class="comment-button"><i class="material-symbols-outlined">tooltip</i></button> -->
                <a class="button-icon-link comment-button" style="margin-left: 10px;">
                    <span title="{{ post.count}} people commented on this" class="material-symbols-outlined button-icon" style="margin:0;">tooltip</span>
                </a>

                <p class="likes" style="margin-top:7px; margin-left:4px;">{{ post.count}} </p>

                {% if user.uuid == post.author_uuid %} <!-- only allow users to update their own posts; current user username must match that of author-->
                    <div class="flex_grow"></div>
                    <div class="context_menu" id="context_menu">
                        <div class="context_menu_item"><a href="{% url 'edit_post' post_uuid=post.uuid author_id=post.author_uuid %}"><i style="margin-right:5px;" class="material-symbols-outlined">edit</i>Edit</a></div>
                        <div class="context_menu_item"><i class="material-symbols-outlined">delete</i><button class="delete_button" id="delete-button" type="button">Delete</button></div>
                        {% if post.visibility != 'PRIVATE' %} <!--don't allow sharing if private post-->
                            <div class="context_menu_item"><i class="material-symbols-outlined">share</i><button class="share_button" data-user-uuid="{{user.uuid}}" id="share-button" type="button">Share</button></div> 
                        {% endif %}
                    </div>
                    <dialog class="modal" id="modal">
                        <div class="col-flex">
                        <p style="color:white; font-size: 32px;">Are you sure you want to delete this post?</p>
                        <div class="row-flex" style="justify-content: center; align-items: center;">
                            <button style="margin-right: 10px;" class="close-button" type="button">Cancel</button>
                            <button class="delete-confirm" data-post-uuid="{{ post.uuid }}" data-author-uuid="{{ post.author_uuid }}">Confirm</button>
                        </div>
                    </dialog>
                    {% include 'share_modal.html' %}
                {% elif user.uuid != post.author_uuid and post.visibility != 'PRIVATE'%} <!--NOT the user's post, allow them to share only (and only if it's not a private post)-->
                    <div class="flex_grow"></div>
                    <div class="context_menu" id="context_menu">
                        <div class="context_menu_item"><i class="material-symbols-outlined">share</i><button class="share_button" data-user-uuid="{{user.uuid}}" id="share-button" type="button">Share</button></div>
                        <div class="share-post-data" style="display: none;">{{ post|json_script }}</div> <!-- create a hidden html element that contains the post data in json format. We will read this in our ajax handler for the submit comment button -->
                    </div>
                    {% include 'share_modal.html' %}
                {% endif %}
        </div>
    </div>
    <div class="comment-box-container" id="comment-box-container-{{ post.uuid }}" style="display: none;">
        <div class="scrollable-comments">
            <!-- comments are loaded into this container via the ajax script -->
            <div class="comment">
            </div>
        </div>
        <div class="submit-comment-box">
            <textarea class="comment-textbox" id="comment-textbox-{{ post.uuid }}" placeholder="Leave a comment"></textarea>
            
            <button class="cancel-comment-button comment_section_button" data-post-uuid="{{ post.uuid }}">Cancel</button>
            <button class="submit-comment-button comment_section_button">Submit</button>
            <div class="comment-post-data" style="display: none;">{{ post|json_script }}</div> <!-- create a hidden html element that contains the post data in json format. We will read this in our ajax handler for the submit comment button -->
        </div>  
    </div>
</div>


{% empty %}
    <div style="padding:10px;">
        <h1 style="text-align: center;">Looks like there's no posts available. Why not make one?</h1>
        <div style="text-align: center;"><a href="{% url 'new_post' %}" class="no_post_button">Make a Post</a></div>
        <div class="flex_grow"></div>
    </div>
{% endfor %}

<script>
    // https://www.youtube.com/watch?v=TAB_v6yBXIE
    const context_menus = document.querySelectorAll(".context_menu");
    const context_openers = document.querySelectorAll(".context_button");

    for (let i = 0; i < context_openers.length; i++) {
        const opener = context_openers[i];
        const menu = context_menus[i];

        opener.addEventListener("click", () => {
            const computedStyle = getComputedStyle(menu);
            if (computedStyle.visibility == "visible") {
                menu.style.visibility = "hidden";
            }
            else {
                menu.style.visibility = "visible";
            }
        });
    };

    const open_modals = document.querySelectorAll(".delete_button");
    const modals = document.querySelectorAll(".modal");
    const close_modals = document.querySelectorAll(".close-button");

    for (let i = 0; i < open_modals.length; i++) {
        const open_modal = open_modals[i];
        const modal = modals[i];
        const close_modal = close_modals[i];

        open_modal.addEventListener("click", () => {
            modal.showModal();
        });

        close_modal.addEventListener("click", () => {
            modal.close();
        });
    };

    const open_share_modals = document.querySelectorAll(".share_button");
    const share_modals = document.querySelectorAll(".share_modal");
    const close_share_modals = document.querySelectorAll(".share-close-button");

    for (let i = 0; i < open_share_modals.length; i++) {
        const open_modal = open_share_modals[i];
        const modal = share_modals[i];
        const close_modal = close_share_modals[i];

        open_modal.addEventListener("click", () => {
            modal.showModal();
        });

        close_modal.addEventListener("click", () => {
            modal.close();
        });
    };

    var colors = ["#FFD553", "#34bdeb", "#7947ed", "#fc4c4c"];;
    var profilePictures = document.querySelectorAll(".profile_picture");
    profilePictures.forEach(function(profilePicture) {
            var authorIndex = parseInt(profilePicture.getAttribute("data-author-index"));
            var colorIndex = authorIndex % colors.length;
            profilePicture.style.borderColor = colors[colorIndex];
        });

        function myFunction() {
        // Get the text field
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        
        // Alert the copied text
        alert("Copied the text: " + copyText.value);
}
</script>
</script>

{% endblock content %}
