<!-- DFB pg. 175 -->
{% extends "base_with_sidebar.html" %}

{% block title %}Dashboard{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/dashboard.css' %} ">
<script src="{% static '/js/post_popup.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Script for handling ajax for like button press -->
<script>
    $(document).ready(function () {
        $(".like-button").click(function () {
            var post_uuid = $(this).data("post-uuid"); // Get the post ID from the button's data attribute
            $.ajax({
                url: '{% url "like_post" %}',
                method: 'GET',
                data: { post_uuid: post_uuid }, // Pass the post UUID as a parameter
                success: function (data) {
                    // Update the like count
                    $('#result-' + post_uuid).text("Likes: " + data.new_post_count);
                }
            });
        });
    });
</script>
<!-- <script src="{% static '/js/like_button.js' %}"></script> -->

{% endblock css %}

{% block content %}

<!-- TODO: This is a security risk as all posts are sent to the browser (potentially including non-authorized ones). Edit this so that we only send authorized posts from the server -->
{% for post in all_posts %}
    {% if not post.unlisted %}
        <div class="post" style="margin-top:3em">
            <section id="post_author">
                <img src="{{ post.author.profileImage }}" href="{% static 'css/main.css' %}" class="profile_picture"></img>
                <a href="{{ post.author.url }}">{{ post.author.displayName}}</a>
                <div class="flex_grow"></div>
                <p style="align-self: end;">{{ post.published }}</p>
            </section>
            <section id="post_body">
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
            </section>
            {% for image in all_posts %}
                {% if image.uuid == post.uuid|add:"_pic" %}
                <!-- for each post, look if there is a corresponding pic post in the list of all posts. If there is, display it along with the parent post -->
                    <section id="post_image">
                        <img style="padding-left: 10px;" src="data:{{ image.contentType }},{{ image.content }}" alt="Image for {{ post.title }}" />
                    </section>
                {% endif %}
            {% endfor %}
            <div class="flex_grow"></div>
            <div class="footer">
                <p class="likes"id="result-{{ post.uuid }}">Likes: {{ post.count}} </p>
                <!-- https://www.w3schools.com/howto/howto_css_icon_buttons.asp -->
                <button style="padding-top: 10px;"type="button"class="like-button"data-post-uuid="{{ post.uuid }}"><i class="material-symbols-outlined">favorite</i></button>
                <button style="padding-top: 10px;"type="button"><i class="material-symbols-outlined">tooltip</i></button>
            </div>
        </div>
    {% endif %}

{% empty %}
    <div style="padding:10px;">
        <h1 style="text-align: center;">Looks like there's no posts available. Why not make one?</h1>
        <div style="text-align: center;"><a  href="{% url 'new_post' %}" class="no_post_button">Make a Post</a></div>
        <div class="flex_grow"></div>
    </div>
{% endfor %}


{% endblock content %}