<!-- DFB pg. 175 -->
{% extends "base.html" %}

{% block content %}
<ul>
All Posts
<br></br>
<a href="{% url 'redir_create' %}" class="make-post">Make a Post</a>
<ul>
    {% for post in all_posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Likes: {{ post.counts }}</p>
            <p>Comments: {{ post.comments }}</p>
            <p>Author: {{ post.author.displayName }}</p>
            <p>Published on: {{ post.published }}</p>
        </li>
    {% empty %}
        <li>No posts available. Why not make one? <a href="{% url 'redir_create' %}" class="make-post">Make a Post</a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}