p {
    margin: 0;
    padding: 0;
    color: white;
}



/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:  #2a2a2a #695f5b;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: #695f5b;
    border-radius: 60px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 8px;
    border: 2px solid #2a2a2a;
  }


.post_button {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #FFD553;
    color: black;
    border-radius: 25px;
    border-style: none;
    font-size: 26px;
    font-weight: bold;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
.post_button:hover {
    background-color: #ffd453a4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.13);
    transition-duration: 0.2s;
}

.signup_button {
    padding: 0.20em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size:30px;

    background-color: #1C1A19;
    border-radius: 40px;
    border-style: none;
    color:#FFD553;
    font-weight: bold;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
.signup_button:hover {
    transform: scale(1.10);/*makes it bigger when hovering over it*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.13);
    transition-duration: 0.2s;
    background-color: #0c0b0b;

}




.container_flex {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    padding: 20px;

    width: 100vh;
    height: 60vh;

    background-color: #4a4444;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    background-color: transparent;
    color: white;
    border-style: none;
}

button :hover {
    background-color: #363232;
    border-radius: 50%;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form_input {
    font-size: 20px;
}

select, input[type=text], input, textarea {
    flex: 1;
    border-radius: 5px;
    border-style: none;
    background-color: #363232;
    color: white;
    padding: 5px;
}

select {
    height: 40px;
}

input[type=text] {
    height: 30px;
    margin-bottom: 5px;
}

input[type=url], input[type=email] {
    margin-bottom: 1.25em;
}

input[type=file] {
    background-color: transparent;
}

textarea {
    flex-grow: 1;
    resize: none;
}

.author_list {
    display: none;
    flex-direction: column;
}


.userProfile_followers{
    max-width: 100%; 
    color:white;
    
}



.list_profiles_gradience{
    max-width: 70%; 
    border-width: 3px;
    border-style: solid none solid none;
    border-bottom:0;
    border-image: linear-gradient(to right, #2a2a2a, #1C1A19) 1;
    /*see https://codyhouse.co/nuggets/css-gradient-borders for border gradience*/


}

.userProfile_List_of_Users{/*same thing as .userProfile_followers, except this one should have a hover effect.*/
    max-width: 100%; 
    color:white;


    /*see https://codyhouse.co/nuggets/css-gradient-borders for border gradience*/
}

.userProfile_List_of_Users:hover{
    background-color: #2a2a2a;

}


