
h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 36px;
}

p {
    color: white;
}




.postImage{
    height:100%;
    width:100%;
    object-fit: scale-down;
   
    
}

.no_post_button {
    color: black;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
    padding: 10px;
}

.no_post_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.post {
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-radius: 10px;
    border-color: #FFD553;
    border-width: 7px;

    box-shadow: 2px 10px 13px 2px rgba(255, 213, 83, 0.15), 0 14px 42px 0 rgba(226, 2, 2, 0.19);

    background-color: #695f5b;

    margin: auto;
    margin-bottom: 20px;
    width: 85vh;
    height: 85vh;
}

.post-container {
    display: flex;
    flex-direction: row;
}

.comment-box-container {
    margin: auto;
    margin-bottom: 20px;

    height: 85vh;
    width: 60vh;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFD553;
    border-width: 7px;

    box-shadow: 2px 10px 13px 2px rgba(255, 213, 83, 0.15), 0 14px 42px 0 rgba(226, 2, 2, 0.19);


    display: flex;
    flex-direction: column;
}

.submit-comment-box {
    display: flex;
    flex-direction: row;

    margin-top: auto;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    max-height: 15vh;
}

.comment-textbox{
    flex-grow: 1;
}

.scrollable-comments {
    overflow-y: auto;
    flex-grow: 1;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* TODO: Change the above height to dynamically change based on comment length */
}

.comment-details{
    margin: 0;
    padding: 0;
}

.comment-username{
    font-weight: bold;
}

.comment-text{
    font-size: 12px;
}

.like-comment-button{
    margin-left: auto;
}

.comment-profile-picture{
    width: 5vh;
    height: 5vh;
    padding: 2vh;
    border-radius: 50%;
    border-color: white;
}

#post_author {
    display: flex;
    flex-direction: row;
    background-color: #4a4441;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
}

#post_author a {
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    vertical-align: center;
}


.body_style{
    background-color: #4a4441;
    padding:1.3px;
    border-radius: 4px;
    text-indent: 5px;

}

#post_author .profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: white;
    background-color: #2a2a2a;
    border-width: 0.2em;
    border-style: solid;
    border-color:#FFD553;
}

#post_body {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    margin-bottom: 10px;
    padding: 10px;
}

#post_body p {
    text-justify: left;
    align-self: left;
    font-size: 22px;
    color: white;
    white-space: nowrap;
}


.likes {
    background-color: #1C1A19;
    border-radius:50%;
    height: 30px;
    width: 30px;
    line-height: 31px;
    display: inline-block;
    text-align: center;
    padding:10px;
    font-size: 25px;
    margin: 0;


}

.footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

button, .context_button {
    height:50px;
    width:50px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #1C1A19;
    color:#FFD553
}

.context_button {
    background-color: transparent;
    border-style: none;
}

.context_menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    visibility: hidden;
}

.context_menu_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    background-color: white;
    border-radius: 1em;
    vertical-align: middle;

    width: 6em;
    margin-left: 2px;
    padding: 2px;
    height: 40px;

    box-shadow: 10px 10px 5px rgb(24, 23, 23)
}

.context_menu_item:hover{
    background-color: rgba(255, 255, 255, 0.745);
}

.context_menu_item i {
    margin: 0;
    padding: 0;
    color: black;

    height: 30px;
    width: 30px;
}

.context_menu_item a, .context_menu_item a:hover, .context_menu_item button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.flex_grow {
    display: flex;
    flex-grow: 1;
}

.modal {
    z-index: -1;
    background-color: #191919;
    border-radius: 2em;
    color: white;
    box-shadow: 10px 10px 5px rgb(82, 79, 79);
    border-width: 1px;
}

.modal::backdrop {
    background: black;
    opacity: 0.5;
}

.delete-confirm, .close-button {
    border-radius: 2em;
    background-color: #525151;
    border-style: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 6em;
    height: 3em;

    padding: 2px;
    box-shadow: 10px 10px 5px rgb(24, 23, 23)
}

.delete-confirm:hover, .close-button:hover {
    background-color: #878686;
    /* box-shadow: 0 0 5px rgb(250, 250, 250) */
}

.popup_button button, .popup_button a, .popup_button a:hover{
    text-decoration: none;
    color: #FFD553;
}


.delete_button, .close_button {
    background-color: transparent;
    border-style: none;
}