body{
    font-family: 'Lalezar', sans-serif;
    font-size: 16px;
    background-color: #1C1A19;
    color:#FFD553
}

button {
    font-family: 'Lalezar', sans-serif;
    font-size: 16px;
}

a:hover{
    color:#bdbdbd
}

a{
    color:rgb(255, 255, 255)
}

.user_icon{
    border-radius: 50%;
    width:200px;
    border-width: 0.2em;
    border-style: solid;
    height: 200px;
    background-color: #2a2a2a;
}



.monkey_div{
    display:flex;
    justify-content: left;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #FFD553;


    /*position: -webkit-sticky; if you want to make the top heading sticky too, uncomment this!*/
   /* position: sticky;if you want to make the top heading sticky too, uncomment this!*/
   /* top:0em;if you want to make the top heading sticky too, uncomment this!*/
    

}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 5em;
    
    background-color: #2a2a2a;
}

#content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #1C1A19;
}

.sidebar_button, .logout_button {
    color: #1C1A19;
    background-color: #FFD553;
    border-radius: 10px;
    border-style: none;

    margin-top: 1em;/*This is more for making sure there is a certain distance between the buttons as you change the window size of your browser*/
  
    /*Source: https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
    position: -webkit-sticky;/*This is the bit of code that makes it sticky!*/
    position: sticky;/*This is the bit of code that makes it sticky!*/

    padding: 18px;
    align-self: center;
}

.sidebar_button:hover, .logout_button:hover {
    background-color: #626262;
    transform: scale(1.12);/*makes it bigger when hovering over it*/
    border-radius: 10px;
    padding: 18px;
}

.divider {
    margin-top: 1em;/*This is more for making sure there is a certain distance between the buttons as you change the window size of your browser*/
    background-color: #1C1A19;
    padding: 2px;

    /*Source: https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
    position: -webkit-sticky;/*This is the bit of code that makes it sticky!*/
    position: sticky;/*This is the bit of code that makes it sticky!*/
}

.logout_button {
    background-color: #2a2a2a;
}

.logout_button:hover {
    background-color: #ff4949;
}