body{
    font-family: 'Lalezar', sans-serif;
    font-size: 16px;
    background-color: #1C1A19;
    color:#FFD553
}

button {
    font-family: 'Lalezar', sans-serif;
    font-size: 16px;
}

a:hover{
    color:#bdbdbd
}

a{
    color:rgb(255, 255, 255)
}





/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  #2a2a2a #695f5b;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #695f5b;
  border-radius: 60px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 8px;
  border: 2px solid #2a2a2a;
}




.user_icon{
    border-radius: 50%;
    width:200px;
    border-width: 0.2em;
    border-style: solid;
    height: 200px;
    background-color: #2a2a2a;
    object-fit: cover;
}



.monkey_div{
  justify-content: left;
  background-color: #FFD553;
  width:100%;
  height:30px;

  /*postion:fixed; to make it sticky*/

}



.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 5em;    
    
    background-color: #2a2a2a;
}

#content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #1C1A19;
}

.sidebar_button, .logout_button {
    color: #1C1A19;
    background-color: #FFD553;
    border-radius: 10px;
    border-style: none;
    
    margin-top: 0;/*This is more for making sure there is a certain distance between the buttons as you change the window size of your browser*/
  
    /*Source: https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
    position: -webkit-sticky;/*This is the bit of code that makes it sticky!*/
    position: sticky;/*This is the bit of code that makes it sticky!*/

    padding: 18px;
    align-self: center;
}

.sidebar_button:hover, .logout_button:hover {
    background-color: #626262;
    transform: scale(1.12);/*makes it bigger when hovering over it*/
    border-radius: 10px;
    padding: 18px;
}

.divider {
    margin-top: 1em;/*This is more for making sure there is a certain distance between the buttons as you change the window size of your browser*/
    background-color: #1C1A19;
    padding: 2px;

    /*Source: https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
    position: -webkit-sticky;/*This is the bit of code that makes it sticky!*/
    position: sticky;/*This is the bit of code that makes it sticky!*/
}

.logout_button {
    background-color: #2a2a2a;
}

.logout_button:hover {
    background-color: #ff4949;
}


.circles{/*see https://alvarotrigo.com/blog/animated-backgrounds-css/ for how to make background animations*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;/*z-index is for positioning. forground or background. the stack order. make it -1 so that
    doesnt interfere with our buttons and text-fields*/
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    /*width: 20px;
    height: 20px;*/
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -1;
    
}

.circles li:nth-child(1){
    right: 17.5%;

    animation-delay: 0s;
}


.circles li:nth-child(2){
    right: 7%;

    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    right: 49%;

    animation-delay: 4s;
}

.circles li:nth-child(4){
    right: 28%;

    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    right: 45.5%;

    animation-delay: 0s;
}

.circles li:nth-child(6){
    right: 52.5%;

    animation-delay: 3s;
}

.circles li:nth-child(7){
    right: 24.5%;

    animation-delay: 7s;
}

.circles li:nth-child(8){
    right: 35%;

    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    right: 14%;

    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    right: 59.5%;

    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    right: 66%;

    animation-delay: 6s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}






.bouncing-text {
    position: relative;
    display: flex;
    font-size: 55px;
    font-weight: 900;

  }

  .C, .h, .i, .m, .p, .C2, .h2, .a, .t {
    position: relative;
    color: black;
  }


  .C {
    animation: bounce 3.2s ease 1 1.0s;



  }
  
  .h {
    animation: bounce 3.2s ease 1 1.1s;
    
  }
  
  .i {
    animation: bounce 3.2s ease 1 1.2s;
   
  }
  
  .m {
    animation: bounce 3.2s ease 1 1.3s;
   ;
  }
  
  .p {
    animation: bounce 3.2s ease 1 1.4s;
    
  }

  .C2 {
    animation: bounce 3.2s ease 1 1.5s;
    
  }

  .h2 {
    animation: bounce 3.2s ease 1 1.6s;
    
  }

  .a {
    animation: bounce 3.2s ease 1 1.7s;
    
  }

  .t {
    animation: bounce 3.2s ease 1 1.8s;
   
  }
  




@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-15px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-2px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}




.InboxNavbar {/*This bit is for the navbar for Inbox stuff*/
    margin: 27px auto 0;
  
    position: relative;
    width: 880px;
    height: 45px;
    background-color: #2a2a2a;
    border-radius: 8px;
    border-style: solid;
    border-color: #FFD553;
    font-size: 0;
  }
  .InboxNavbar .InboxNavbar_Link {
    line-height: 50px;
    height: 100%;
    font-size: 17px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .InboxNavbar .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .4s ease 0s;
    border-radius: 8px;
  }
  .InboxNavbar_Link:nth-child(1) {
    width: 220px;
  }
  .InboxNavbar_Link:nth-child(2) {
    width: 220px;
  }
  .InboxNavbar_Link:nth-child(3) {
    width: 220px;
  }
  .InboxNavbar_Link:nth-child(4) {
    width: 220px;
  }

  .InboxNavbar .start-FollowRequestsPage, a:nth-child(1):hover~.animation {
    width: 221px;
    left: -2.3px;
    background-color: #FFD553;
  }
  .InboxNavbar .start-LikesPage, a:nth-child(2):hover~.animation {
    width: 220px;
    left: 220px;
    background-color: #FFD553;
  }
  .InboxNavbar .start-CommentsPage, a:nth-child(3):hover~.animation {
    width: 220px;
    left: 440px;
    background-color: #FFD553;
  }
  .InboxNavbar .start-PostsPage, a:nth-child(4):hover~.animation {
    width: 221px;
    left: 662.3px;
    background-color: #FFD553;
  }

  .itemBacking {
    background-color: #464646;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: row;
  }

  .itemBacking:hover {
    background-color: #595959;
  }

