{% extends "base_with_sidebar.html" %}
{% load static %}

{% block css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock css %}

{% block content %}

<!--reverted to using urls to follow for now; keeping in case we need this for working with the API-->
<script>
  $(document).ready(function () {
    $("#followButton").click(function () {
      var csrfToken = $('meta[name=csrf-token]').attr('content');
      var requester_id = $(this).data("requester-id");
      var recipient_id = $(this).data("recipient-id");
      $.ajax({
        url: '{% url "send_follow_req" %}',
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken
        },
        data: { 
          recipient_id: recipient_id,
          requester_id : requester_id
        },
        success: function (data) {
          $('#followButton').text("Requested");
        },
        error: function (data) {
          alert("Error sending friend request. Please try again later.");
        }
      });
    });
  });
</script>

<div style="padding:25px; background-color:#2a2a2a; margin:1em; border-style:solid; border-color:#FFD553; border-radius:5px;">
  <h1 style="margin-left:0.5em;">Welcome to {{author.displayName}}'s profile.</h1>
  {% if user.uuid == author.uuid %} <!-- only allow users to update their own profiles; current user username must match that of author-->
      <form action="{% url 'author_edit' uuid=author.uuid %}">
        <div>
          <button class="post_button" type="submit" style=" margin-left:1em; padding:0; font-size:17px; padding-right: 10px; padding-left: 10px;">Edit Profile</button>
        </div>

      </form>
  {% else %} <!-- someone else's profile-->
    {% if already_following == True %} <!--if user already following this user, hide follow button, show unfollow button-->
      <p>Following</p>
      <form action="{% url 'author_unfollow' uuid=author.uuid rq_uuid=user.uuid %}">
        <div>
          <button class="post_button" type="submit" style=" margin-left:1em; padding:0; font-size:17px; padding-right: 10px; padding-left: 10px;">Unfollow</button>
        </div>
    {% elif pending_request == True %} <!--there is a pending friend request; hide follow button, show "requested"-->
        <p>Requested</p>
    {% else %} <!--not following this user and have not sent request yet; show follow button-->
        <button id="followButton" data-requester-id="{{ user.uuid }}" data-recipient-id="{{ author.uuid }}" class="post_button" style=" margin-left:1em; padding:0; font-size:17px; padding-right: 10px; padding-left: 10px;">Follow</button>
    {% endif %}
  {% endif %}

  <div style="padding:20px; background-color:#1C1A19; margin:0.8em; border-radius:5px;">
    <img src="{{ author.profileImage }}" href="{% static 'css/main.css' %}" class="user_icon" style="width: 200px; height:200px;"> <!--To edit image styling, go to css/main.css-->
    <h2><u>Personal Info</u></h2>
    <p>TBA</p>
    <h2 style="margin-top:40px"><u>Followers</u></h2>
    <ul style="list-style-type: none; ">
      {% for follower in followers %}

        <div class="list_profiles_gradience"></div>

        <div class="userProfile_followers" style="display: flex; flex-direction: column; padding:5px;">

          <img src="{{ follower.profileImage }}" class="user_icon" style="width: 50px; height: 50px; border-color:#FFD553;">
          <li style="word-break:break-all;">{{ follower.displayName }}</li>

        </div>

      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}