{% extends "base_with_sidebar.html" %}
{% load static %}

<title>{% block title %}{{author.displayName}}'s Profile{% endblock title %}</title>

{% block css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock css %}

{% block content %}

<!--reverted to using urls to follow for now; keeping in case we need this for working with the API-->
<script>
  $(document).ready(function () {
    $("#followButton").click(function () {
      var csrfToken = $('meta[name=csrf-token]').attr('content');
      var requester_id = $(this).data("requester-id");
      var recipient_id = $(this).data("recipient-id");
      $.ajax({
        url: '{% url "send_follow_req" %}',
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken
        },
        data: { 
          recipient_id: recipient_id,
          requester_id : requester_id
        },
        success: function (data) {
          $('#followButton').text("Requested");
        },
        error: function (data) {
          alert("Error sending friend request. Please try again later.");
        }
      });
    });
  });
</script>


<div style="padding:20px; background-color:#2a2a2a; margin:1em; border-radius:4px; width:870px; margin-left: auto; margin-right: auto;">


  {% if user.uuid == author.uuid %} <!-- only allow users to update their own profiles; current user username must match that of author-->
    <h1 style="margin-left:0.5em;">My Account</h1>
  
  {% endif %}

  <div style="background-color:#1C1A19; min-height:430px; border-radius:11px; padding-bottom:25px;">

    {% if author.index == 0 %}
    <div style="background: conic-gradient( hsl(45, 100%, 66%) 0deg 90deg, #1C1A19 90deg 270deg, #FFD553 270deg 360deg); 
     border-top-left-radius:11px; border-top-right-radius:11px; height:210px;">
    {% elif author.index == 1 %}
    <div style="background: conic-gradient( #34bdeb 0deg 90deg, #1C1A19 90deg 270deg, #34bdeb 270deg 360deg); 
     border-top-left-radius:11px; border-top-right-radius:11px; height:210px;">
    {% elif author.index == 2 %}
    <div style="background: conic-gradient( #7947ed 0deg 90deg, #1C1A19 90deg 270deg, #7947ed 270deg 360deg); 
     border-top-left-radius:11px; border-top-right-radius:11px; height:210px;">
    {% elif author.index == 3 %}
    <div style="background: conic-gradient( #fc4c4c 0deg 90deg, #1C1A19 90deg 270deg, #fc4c4c 270deg 360deg); 
     border-top-left-radius:11px; border-top-right-radius:11px; height:210px;">
    {% elif author.index == 4 %}
    <div style="background: conic-gradient( #73fc03 0deg 90deg, #1C1A19 90deg 270deg, #73fc03 270deg 360deg); 
     border-top-left-radius:11px; border-top-right-radius:11px; height:210px;">
    {% endif %}

      <div class="row-flex">
        <img src="{{ author.profileImage }}" href="{% static 'css/main.css' %}" class="user_icon" style="width: 100px; height:100px; border-color:#1C1A19; border-width:8px; margin-left:20px; margin-top:60px;"> 
        <h1 style="color:white; margin-top:110px; width:600px;">{{author.displayName}}</h1><!--To adjust distance between username and follow,editprofile etc.. button, change width-->
         <!--{{author.displayName}}-->


        {% if user.uuid == author.uuid %} <!-- only allow users to update their own profiles; current user username must match that of author-->
          <form action="{% url 'author_edit' uuid=author.uuid %}">
            <div style="margin-top:121px;">
              <button class="post_button" type="submit" style=" padding:0; font-size:17px; padding-right: 15px; padding-left: 15px;">Edit Profile</button>
            </div>

          </form>
        {% else %} <!-- someone else's profile-->
          {% if already_following == True %} <!--if user already following this user, hide follow button, show unfollow button-->
            <p style="margin-top:121px;">Following</p>
            <form action="{% url 'author_unfollow' uuid=author.uuid rq_uuid=user.uuid %}">
              <div style="margin-top:121px;">
                <button class="post_button" type="submit" style="padding:0; font-size:17px; padding-right: 15px; padding-left: 15px;">Unfollow</button>
              </div>
          {% elif pending_request == True %} <!--there is a pending friend request; hide follow button, show "requested"-->
              <p style="margin-top:121px;">Requested</p>
          {% else %} <!--not following this user and have not sent request yet; show follow button-->
          <div style="margin-top:121px;">
              <button id="followButton" data-requester-id="{{ user.uuid }}" data-recipient-id="{{ author.uuid }}" class="post_button" style="padding:0; font-size:17px; padding-right: 16px; padding-left: 16px;">Follow</button>
          </div>
          {% endif %}
        {% endif %}




      </div>

    </div>

    


    <form>
      <button class="post_button" type="submit" style=" padding:0; font-size:20px; margin-left:14px; width:100px;">Posts</button>
    </form>

    <h2 style="margin-top:0; margin-left:12px; margin-top:20px; margin-bottom:15px;"><u>Followers</u></h2>
    <ul style="list-style-type: none; padding:10px;"><!--Set padding to something to remove discrepencies between Firefox and Chrome, as Firefox as a default and chrome doesnt-->
      <div style="max-height:200px; min-height:40px; overflow:auto;">
        {% for follower in followers %}

          <div class="list_profiles_gradience" style="margin-bottom:4px; margin-left:23px;"></div>
          <div class="userProfile_followers" style="display: flex; flex-direction: column; padding:5px; margin-left:29px;">

            <img src="{{ follower.profileImage }}" class="user_icon" style="width: 50px; height: 50px; border-color:#FFD553;">
            <li style="word-break:break-all;">{{ follower.displayName }}</li>

          </div>


          {%empty%}
            <p style="opacity:0.6; margin-left:29px;">Find a friend to follow...</p>

        {% endfor %}
      </div>

    </ul>

    <div style="margin-bottom:20px;"></div>

    <h2 style="margin-left:12px; margin-bottom:15px;"><u>Liked</u></h2>
    <ul style="list-style-type: none; padding:10px;"><!--Set padding to something to remove discrepencies between Firefox and Chrome, as Firefox as a default and chrome doesnt-->
      
      <div style="max-height:200px; min-height:40px; overflow:auto;">
        {% for liked in liked %}

          <div class="list_profiles_gradience" style="margin-left:23px; margin-bottom:4px;"></div>

          <div class="row-flex" style="padding:5px; margin-left:29px;">
            <span class="material-symbols-outlined" style="margin-top: 20px; margin-right: 5px;">
              thumb_up
              </span>
            {% if liked.likedObject == "post" %}
              <p style="margin-top: 20px;">a post made by</p>
            {% elif liked.likedObject == "comment" %}
              <p style="margin-top: 20px;">a comment made by</p>
            {% endif %}
            <img src="{{ liked.contentAuthor.profileImage }}" class="user_icon" style="width: 50px; height: 50px; border-color:#FFD553; margin-left: 5px; margin-right: 5px;">
            <p style="margin-top: 20px;">{{ liked.contentAuthor.displayName }}</p>
          </div>

          {%empty%}
            <p style="opacity:0.6; margin-left:29px;">Try finding something you like...</p>

        {% endfor %}
      </div>

      <h2 style="margin-top:0; margin-top:20px; margin-bottom:15px;"><u>Github Activity</u></h2>

      {% for activity in github %}<!--See line 223 on pages views.py. print activity variable. also line 155 on get_github_activity-->

        <div class="list_profiles_gradience" style="margin-left:18px; margin-bottom:4px;"></div>


        <div class="row-flex" style=" margin-top:5px; padding:5px; margin-left:30px; max-width:550px; background: rgba(255, 213, 83, 0.66); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);">


          <img src="{{ activity.repo_avatar }}" class="" style="width: 40px; height: 40px; border-radius:4px; margin-left:34px; margin-right: 5px;">
          <a style="margin-top:7px;" href="{{activity.repo_url}}">{{activity.repo}}</a>

        </div>



        <div class="row-flex" style="padding:5px; margin-left:38px; margin-bottom:5px;">
          
          <img src="{{ activity.actor_avatar }}" class="user_icon" style="width: 40px; height: 40px; margin-left:34px; margin-right: 5px;">
          <a style="margin-top:13px;" href="{{activity.actor_url}}">{{activity.actor}} did a {{activity.type}} action</a>

        </div>


        {%empty%}
          <p style="opacity:0.6; margin-left:29px;">No activity found. Try linking your Github account...</p>

      {% endfor %}
  
    </div>

  
  
  

</div><!--light grey box div-->
{% endblock content %}