{% extends "base_with_sidebar.html" %}
{% load static %}

{% block css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock css %}

{% block content %}

<script>
  $(document).ready(function () {
    $("#followButton").click(function () {
      $.ajax({
        url: '{% url "author_followed" pk=author.pk %}',
        method: 'GET',
        success: function (data) {
          // Update the like count
          $('#followButton').text("Requested");
        }
      });
    });
  });
</script>

<div style="padding:25px;">
  <h1>Welcome to {{author}}'s profile.</h1>

{% block title %} {{author.username}}'s profile  {% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
{% endblock css %}



{% block content %}
<div style="padding:25px; background-color:#2a2a2a; margin:1em; border-style:solid; border-color:#FFD553; border-radius:5px;">
  <h1 style="margin-left:0.5em;">Welcome to {{author}}'s profile.</h1>
  {% if user.username == author.username %} <!-- only allow users to update their own profiles; current user username must match that of author-->
      <form action="{% url 'author_edit' pk=author.pk %}">
        <div>
          <button class="post_button" type="submit" style=" margin-left:1em; padding:0; font-size:17px; padding-right: 10px; padding-left: 10px;">Edit Profile</button>
        </div>

      </form>
  {% else %} <!-- someone else's profile-->
    {% if already_following == True %} <!--if user already following this user, hide follow button-->
      <p>Following</p>
    {% else %} <!--not following this user; show follow button-->
        <div>
          <button id="followButton" class="post_button" type="submit" style=" margin-left:1em; padding:0; font-size:17px; padding-right: 10px; padding-left: 10px;">Follow</button>
        </div>
    {% endif %}
  {% endif %}

  <div style="padding:20px; background-color:#1C1A19; margin:0.8em; border-radius:5px;">
    <img src="{{ author.profile_image }}" href="{% static 'css/main.css' %}" class="user_icon" style="width: 200px; height:200px;"> <!--To edit image styling, go to css/main.css-->
    <h2><u>Personal Info</u></h2>
    <p>TBA</p>
    <h2><u>Followers</u></h2>
    <ul>
      {% for follower in followers.followers %}
        <li class="userProfile_followers" style="padding-top:5px; padding-bottom:5px;">{{ follower.username }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}