<!-- This is the base template that all other pages will extend from (the banner stuff we want on every page)-->
<!-- DFB pg. 175 -->

{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--This is what i used to set the font! used font from google!-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href={% static 'images/monkey_icon.jpg' %}>
</head>
<body>
    <main>

        <div style="display: flex; flex-direction: row;" class="monkey_div">
            <img src={% static 'images/monkey_icon.jpg'%} alt="" title = "" width="25px" height="23.468" style="margin-top:2px; margin-left:2px;">
            <p style="font-size:18px; color:black; margin-left:5px; margin-top:2px;">ChimpChat</p>
        </div>


        <div class="container">
            <section id="sidebar">
                <a class="sidebar_button" style="top:4em;" href="{% url 'stream' %}"><i class="material-symbols-outlined">home</i></a>
                <a class="sidebar_button" style="top:9em;" href="{% url 'new_post' %}"><i class="material-symbols-outlined">add_circle</i></a>
                <div class="divider" style="top:13.8em;"></div>
                <a class="sidebar_button" style="top:14.5em;" href="{% url 'author_detail' host_id=0 uuid=user.uuid %}"><i class="material-symbols-outlined">account_circle</i></a>
                <a class="sidebar_button" style="top:19.5em;" href="{% url 'authors_list' %}"><i class="material-symbols-outlined">groups</i></a>
                <a class="sidebar_button" style="top:24.5em;" href="{% url 'inbox' %}"><i class="material-symbols-outlined">inventory_2</i></a>
                <div class="divider" style="top:29.3em;"></div>
                <a class="logout_button" style="top:30em;" href="{% url 'logout' %}"><i class="material-symbols-outlined" style="color:white;">logout</i></a>
                <div class="grow-flex"></div>
            </section>
            <section id="content">
                {% block content %}
                {% endblock content %}
            </section>
        </div>
    </main>
</body>
</html>