<!-- This is the base template that all other pages will extend from (the banner stuff we want on every page)-->
<!-- DFB pg. 175 -->

{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--This is what i used to set the font! used font from google!-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
<!-- https://stackoverflow.com/questions/11213910/second-stylesheet-in-child-template-overriding-style-sheets -->
    {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href={% static 'images/monkey_icon.jpg' %}>
</head>
<body>
    <main>
        <div class="monkey_div">
            <img src={% static 'images/monkey_icon.jpg'%} alt="" title = "" width="103.796px" height="110.572px">
            <h1 style="color: black; text-align: center; padding-left: 20px; padding-top: 10px">ChimpChat</h1>
        </div>


        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>