<!doctype html>
<html>
    <head>
        <title>Api</title>
        <meta charset='utf-8'/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
        <style>
pre {
    background-color: #333;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

body {
    line-height: 1.6;
    font-family: 'Lalezar', sans-serif;
    font-size: 16px;
    background-color: #1C1A19;
    color:#FFD553
}

p, ul {
    font-family: 'Lalezar', sans-serif;
    color: white;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
p strong {
    color: #c2abed;
    font-weight: normal;
}
a {
    color: #8d42f5;
    font-weight: normal;
}

code {
    background-color: #333;
    color: #8d42f5;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

</style>
    </head>
    <body>
<h1 data-heading="Remote API Documentation">Remote API Documentation</h1>
<br></br>
<h2 data-heading="Table of Contents">Table of Contents</h2>
<hr>
<p><a class="internal-link" data-href="#Authentication Cookie" href="#AuthCookie">Authentication Cookie</a><br>
<a class="internal-link" data-href="#Authors" href="#Authors">Authors</a><br>
<a class="internal-link" data-href="#Followers" href="#Followers">Followers</a><br>
<a class="internal-link" data-href="#Follow Requests" href="#FollowRequests">Follow Requests</a><br>
<a class="internal-link" data-href="#Posts" href="#Posts">Posts</a><br>
<a class="internal-link" data-href="#Image Posts" href="#ImagePosts">Image Posts</a><br>
<a class="internal-link" data-href="#Comments" href="#Comments">Comments</a><br>
<a class="internal-link" data-href="#Likes" href="#Likes">Likes</a><br>
<a class="internal-link" data-href="#Liked" href="#Liked">Liked</a><br>
<a data-href="#Inbox" href="#Inbox" class="internal-link">Inbox</a></p>
<br></br>
<h2 data-heading="Notes">Notes</h2>
<hr>
<ul>
<li><code>service</code> in our API calls will be represented by our public URI</li>
<li>Most calls have:
<ul>
<li><code>2XX</code> for success</li>
<li><code>401</code> if authentication/cookie is required</li>
<li><code>404</code> if the resource you are trying to access does not exist</li>
<li><code>500</code> if a server error occurred</li>
</ul>
</li>
</ul>
<br></br>
<h2 id="AuthCookie" data-heading="Authentication Cookie">Authentication Cookie</h2>
<hr>
<h3 data-heading="Request Items">Request Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>user_id</td>
<td>ID of the Author</td>
</tr>
<tr>
<td>username</td>
<td>the display name of the author</td>
</tr>
<tr>
<td>host</td>
<td>the home host of the author</td>
</tr>
<tr>
<td>url</td>
<td>url to the author's profile</td>
</tr>
</tbody>
</table>
<p>Our webservice utilizes cookies to gather user information from remote servers. Typically, cookies should be re-assigned per request and only be active for a short period of time. To make your life easier, though, a cookie will only need to be established after a user successfully logs in to your server. This cookie is used to identify users for remote requests and will not need to be explicitly included in any of the API calls.</p>
<p><strong>Request URL</strong>: <code>http://service/api/token/</code><br>
<strong>Method</strong>: POST<br>
<strong>Description</strong>: POST to this URL after every successful authentication in your server. The request body contains information about the user who logged in.<br>
<strong>Example Request Body:</strong></p>
<pre><code>{
	"user_id" : "1c946b62-e7ca-4d05-8f1d-8e25b6f214c5",
	"username" : "user1",
	"host" : "http://server",
	"url" : "http://server/authors/1c946b62-e7ca-4d05-8f1d-8e25b6f214c5"
}
</code></pre>
<p><strong>Example Response Body</strong>:</p>
<pre><code>{
  "message": "Succesfully set cookie."
}
</code></pre>
<br></br>
<h2 id="Authors" data-heading="Authors">Authors</h2>
<hr>
<h3 data-heading="Response Items">Response Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>type of object, in our case "author"</td>
</tr>
<tr>
<td>id</td>
<td>ID of the Author</td>
</tr>
<tr>
<td>host</td>
<td>the home host of the author</td>
</tr>
<tr>
<td>displayName</td>
<td>the display name of the author</td>
</tr>
<tr>
<td>url</td>
<td>url to the author's profile</td>
</tr>
<tr>
<td>github</td>
<td>HATEOS URL for Github API</td>
</tr>
<tr>
<td>profileImage</td>
<td>Image from a public domain</td>
</tr>
</tbody>
</table>
<h3 data-heading="List">List</h3>
<p><strong>Request URL</strong>: `http://service/authors/<br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Returns a JSON-encoded list containing local author information<br>
<strong>Example Response Body:</strong></p>
<pre><code>{
&nbsp; &nbsp; "type": "authors",
&nbsp; &nbsp; "items": [
&nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "type": "author",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "id": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "host": "http://127.0.0.1:8000/",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "displayName": "biguser2",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "url": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "github": "https://github.com/uofa-cmput404/project-socialdistribution",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "profileImage": "https://wiki.teamfortress.com/w/images/4/4a/Pyroava.jpg"
&nbsp; &nbsp; &nbsp; &nbsp; },
&nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "type": "author",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "id": "http://127.0.0.1:8000/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "host": "http://127.0.0.1:8000/",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "displayName": "admin",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "url": "http://127.0.0.1:8000/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "github": "https://docs.djangoproject.com/en/4.2/ref/contrib/auth",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "profileImage": "https://wiki.teamfortress.com/w/images/4/44/Sniperava.jpg"
&nbsp; &nbsp; &nbsp; &nbsp; }
&nbsp; &nbsp; ]
}
</code></pre>
<h3 data-heading="View">View</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Returns a single JSON-encoded object containing information for the provided author id.<br>
<strong>Example Response Body:</strong></p>
<pre><code>{
&nbsp; &nbsp; "type": "author",
	"id": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
	"host": "http://127.0.0.1:8000/",
	"displayName": "biguser2",
	"url": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
	"github": "https://github.com/uofa-cmput404/project-socialdistribution",
	"profileImage": "https://wiki.teamfortress.com/w/images/4/4a/Pyroava.jpg"
}
</code></pre>
<br></br>
<h2 id="Followers" data-heading="Followers">Followers</h2>
<hr>
<h3 data-heading="List">List</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Returns a list of authors who are following <code>author_id</code>.<br>
<strong>Example Response Body:</strong></p>
<pre><code>{
	"type": "followers"
	"items": [
&nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "type": "author",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "id": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "host": "http://127.0.0.1:8000/",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "displayName": "biguser2",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "url": "http://127.0.0.1:8000/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "github": "https://github.com/uofa-cmput404/project-socialdistribution",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "profileImage": "https://wiki.teamfortress.com/w/images/4/4a/Pyroava.jpg"
&nbsp; &nbsp; &nbsp; &nbsp; },
&nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "type": "author",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "id": "http://127.0.0.1:8000/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "host": "http://127.0.0.1:8000/",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "displayName": "admin",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "url": "http://127.0.0.1:8000/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "github": "https://docs.djangoproject.com/en/4.2/ref/contrib/auth",
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "profileImage": "https://wiki.teamfortress.com/w/images/4/44/Sniperava.jpg"
&nbsp; &nbsp; &nbsp; &nbsp; }
&nbsp; &nbsp; ]
}
</code></pre>
<br></br>
<h2 id="FollowRequests" data-heading="Follow Requests">Follow Requests</h2>
<hr>
<h3 data-heading="Request Items">Request Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>"Follow"</td>
</tr>
<tr>
<td>summary</td>
<td>summary of friend request</td>
</tr>
<tr>
<td>actor</td>
<td>friend request sender</td>
</tr>
<tr>
<td>object</td>
<td>friend request recipient</td>
</tr>
</tbody>
</table>
<h3 id="FollowRequestInbox" data-heading="Create">Create</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/inbox</code><br>
<strong>Method:</strong> POST<br>
<strong>Description:</strong> Sends a follow request object to <code>author_id</code>'s inbox. <code>object</code> in the request is the receiver.<br>
<strong>Example Request Body:</strong></p>
<pre><code>{
    "type": "Follow",      
    "summary":"Lara wants to follow Greg",
    "actor":{
        "type":"author",
        "id":"http://socialdistribution/authors/
		        9de17f29c12e8f97bcbbd34cc908f1baba40658e",
        "host":"http://socialdistribution/",
        "displayName":"Lara Croft",
        "url":"http://socialdistribution/authors/
		        9de17f29c12e8f97bcbbd34cc908f1baba40658e",
        "github": "http://github.com/laracroft",
        "profileImage": "https://i.imgur.com/k7XVwpB.jpeg"
    },
    "object":{
        "type":"author",
        "id":"http://127.0.0.1:8000/authors/d5a40a82-d7cb-48f6-9436-14c2937a76f2",
        "url":"http://127.0.0.1:8000/authors/d5a40a82-d7cb-48f6-9436-14c2937a76f2",
        "host":"http://127.0.0.1:8000/",
        "displayName":"Greg Johnson",
        "github": "http://github.com/gjohnson",
        "profileImage": "https://i.imgur.com/k7XVwpB.jpeg"
    }
}
    
</code></pre>
<p><strong>Example Response Body</strong>: if the POST was successful, you should receive a <code>2XX</code> status and a response body that displays the newly created object (it should match the request body).</p>
<br></br>
<h2 id="Posts" data-heading="Posts">Posts</h2>
<hr>
<h3 data-heading="Response Items">Response Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>"post"</td>
</tr>
<tr>
<td>title</td>
<td>title of the post</td>
</tr>
<tr>
<td>id</td>
<td>ID of the post (URL)</td>
</tr>
<tr>
<td>source</td>
<td>most recent source</td>
</tr>
<tr>
<td>origin</td>
<td>original source</td>
</tr>
<tr>
<td>description</td>
<td>a brief description of the post</td>
</tr>
<tr>
<td>contentType</td>
<td>the content type of the post</td>
</tr>
<tr>
<td>content</td>
<td>the content of the post</td>
</tr>
<tr>
<td>author</td>
<td>information about the author</td>
</tr>
<tr>
<td>author.type</td>
<td>type of object, in our case "author"</td>
</tr>
<tr>
<td>author.id</td>
<td>ID of the Author</td>
</tr>
<tr>
<td>author.host</td>
<td>the home host of the author</td>
</tr>
<tr>
<td>author.displayName</td>
<td>the display name of the author</td>
</tr>
<tr>
<td>author.url</td>
<td>url to the author's profile</td>
</tr>
<tr>
<td>author.github</td>
<td>HATEOS URL for Github API</td>
</tr>
<tr>
<td>author.profileImage</td>
<td>Image from a public domain</td>
</tr>
<tr>
<td>categories</td>
<td>categories this post fits into (a list of strings)</td>
</tr>
<tr>
<td>count</td>
<td>total number of comments for this post</td>
</tr>
<tr>
<td>comments</td>
<td>URL for the comments</td>
</tr>
<tr>
<td>commentsSrc</td>
<td>we included this key, but we do not utilize it; it will always be <code>{}</code></td>
</tr>
<tr>
<td>published</td>
<td>ISO 8601 TIMESTAMP for when the post was published</td>
</tr>
<tr>
<td>visibility</td>
<td>visibility of the post ("PUBLIC", "FRIENDS", "PRIVATE")</td>
</tr>
<tr>
<td>unlisted</td>
<td>whether the post is unlisted (true/false)</td>
</tr>
</tbody>
</table>
<h3 data-heading="View">View</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/{post_id}/</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Returns a single JSON-encoded object containing information for the provided post and author ID (if it exists and is permissible).<br>
<strong>Example Response Body:</strong></p>
<pre><code>"type":"post",
&nbsp; &nbsp; "title":"First Post",
	"id":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
			04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; "source":"http://lastplaceigotthisfrom.com/posts/yyyyy",
&nbsp; &nbsp; "origin":"http://whereitcamefrom.com/posts/zzzzz",
&nbsp; &nbsp; "description":"This post discusses stuff -- brief",
&nbsp; &nbsp; "contentType":"text/plain",
&nbsp; &nbsp; "content":"My first post!",
&nbsp; &nbsp; "author": {
	&nbsp; &nbsp; "type": "author",
		"id": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
		"host": "http://127.0.0.1:8000/",
		"displayName": "biguser2",
		"url": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
		"github": "https://github.com/uofa-cmput404/project-socialdistribution",
		"profileImage": "https://wiki.teamfortress.com/w/images/4/4a/Pyroava.jpg"
		},
&nbsp; &nbsp; "categories":["web","tutorial"],
	"count": 1023
	"comments":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
			04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9/comments",
&nbsp; &nbsp; "commentsSrc": {},
&nbsp; &nbsp; "published": "2015-03-09T13:07:04+00:00",
&nbsp; &nbsp; "visibility": "PUBLIC",
&nbsp; &nbsp; "unlisted": "false"
</code></pre>
<h3 data-heading="List">List</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/?page=1&amp;size=2</code><br>
<strong>Method:</strong>GET<br>
<strong>Description:</strong>Gets the recent posts from <code>author_id</code>. This call has <strong>pagination</strong> support.<br>
<strong>Example Response Body:</strong></p>
<pre><code>{
	"type": "posts"
	"items": [
		{
			"type":"post",
		&nbsp; &nbsp; "title":"First Post",
			"id":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
		&nbsp; &nbsp; "source":"",
		&nbsp; &nbsp; "origin":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
		&nbsp; &nbsp; "description":"Here I am for the first time.",
		&nbsp; &nbsp; "contentType":"text/plain",
		&nbsp; &nbsp; "content":"My first post!",
		&nbsp; &nbsp; "author": {
			&nbsp; &nbsp; "type": "author",
				"id": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
				"host": "http://127.0.0.1:8000/",
				"displayName": "biguser2",
				"url": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
				"github": "https://github.com/uofa-cmput404/project-socialdistribution",
				"profileImage": "https://wiki.teamfortress.com/w/images/
						4/4a/Pyroava.jpg"
				},
		&nbsp; &nbsp; "categories":["test"],
			"count": 523
			"comments":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9/comments",
		&nbsp; &nbsp; "commentsSrc": {},
		&nbsp; &nbsp; "published": "2023-03-09T13:07:04+00:00",
		&nbsp; &nbsp; "visibility": "PUBLIC",
		&nbsp; &nbsp; "unlisted": "false"
	&nbsp; &nbsp; },
	&nbsp; &nbsp; {
			"type":"post",
		&nbsp; &nbsp; "title":"Second Post",
			"id":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/a52e39f4-aeb8-432c-9499-b36fc7da1a1a",
		&nbsp; &nbsp; "source":"",
		&nbsp; &nbsp; "origin":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/a52e39f4-aeb8-432c-9499-b36fc7da1a1a",
		&nbsp; &nbsp; "description":"Here I am again.",
		&nbsp; &nbsp; "contentType":"text/plain",
		&nbsp; &nbsp; "content":"My second post!",
		&nbsp; &nbsp; "author": {
			&nbsp; &nbsp; "type": "author",
				"id": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
				"host": "http://127.0.0.1:8000/",
				"displayName": "biguser2",
				"url": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
				"github": "https://github.com/uofa-cmput404/project-socialdistribution",
				"profileImage": "https://wiki.teamfortress.com/w/images/
						4/4a/Pyroava.jpg"
				},
		&nbsp; &nbsp; "categories":[],
			"count": 2
			"comments":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
					04a9d1b429c9/posts/a52e39f4-aeb8-432c-9499-b36fc7da1a1a/comments",
		&nbsp; &nbsp; "commentsSrc": {},
		&nbsp; &nbsp; "published": "2023-03-09T13:07:04+00:00",
		&nbsp; &nbsp; "visibility": "PUBLIC",
		&nbsp; &nbsp; "unlisted": "false"
	&nbsp; &nbsp; },
	]
}
</code></pre>
<h3 id="PostInbox" data-heading="Sending">Sending</h3>
<p><strong>Request URL:</strong><code>http://service/authors/{author_id}/inbox</code><br>
<strong>Method:</strong>POST<br>
<strong>Description:</strong>Sends a post object to <code>author_id</code>'s inbox.<br>
<strong>Example Request Body:</strong></p>
<pre><code>{
	"type":"post",
&nbsp; &nbsp; "title":"First Post",
	"id":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
			04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9",
&nbsp; &nbsp; "source":"http://lastplaceigotthisfrom.com/posts/yyyyy",
&nbsp; &nbsp; "origin":"http://whereitcamefrom.com/posts/zzzzz",
&nbsp; &nbsp; "description":"This post discusses stuff -- brief",
&nbsp; &nbsp; "contentType":"text/plain",
&nbsp; &nbsp; "content":"My first post!",
&nbsp; &nbsp; "author": {
	&nbsp; &nbsp; "type": "author",
		"id": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
		"host": "http://127.0.0.1:8000/",
		"displayName": "biguser2",
		"url": "http://127.0.0.1:8000/authors/9d38f159-64f4-4ee3-9c4e-5232daa3c7b7",
		"github": "https://github.com/uofa-cmput404/project-socialdistribution",
		"profileImage": "https://wiki.teamfortress.com/w/images/4/4a/Pyroava.jpg"
		},
&nbsp; &nbsp; "categories":["web","tutorial"],
	"count": 1023
	"comments":"http://127.0.0.1:8000/authors/4e1b44c9-2df6-4e2c-8a19-
			04a9d1b429c9/posts/4e1b44c9-2df6-4e2c-8a19-04a9d1b429c9/comments",
&nbsp; &nbsp; "commentsSrc": {},
&nbsp; &nbsp; "published": "2015-03-09T13:07:04+00:00",
&nbsp; &nbsp; "visibility": "PUBLIC",
&nbsp; &nbsp; "unlisted": "false"
&nbsp; &nbsp;}
</code></pre>
<p><strong>Example Response Body</strong>: if the POST was successful, you should receive a <code>2XX</code> status and a response body that displays the newly created object (it should match the request body).</p>
<br></br>
<h2 id="ImagePosts" data-heading="Image Posts">Image Posts</h2>
<hr>
<h3 data-heading="View">View</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/{post_id}/image</code><br>
<strong>Method:</strong>GET<br>
<strong>Description:</strong>Gets the image associated with <code>post_id</code>, if one exists. This does not return a JSON object and merely returns the b64-encoded image data. Access the content type using the <code>content-type</code> header.<br>
<strong>Example Response Body:</strong></p>
<pre><code>iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAFjAAABYwBQNL4DAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlL . . .
</code></pre>
<br></br>
<h2 id="Comments" data-heading="Comments">Comments</h2>
<hr>
<h3 data-heading="Request/Response Items">Request/Response Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>type of object, in our case "comments"</td>
</tr>
<tr>
<td>page</td>
<td>page number of the comments</td>
</tr>
<tr>
<td>size</td>
<td>number of comments per page</td>
</tr>
<tr>
<td>post</td>
<td>URL of the post associated with the comments</td>
</tr>
<tr>
<td>id</td>
<td>URL of the comments</td>
</tr>
<tr>
<td>comments</td>
<td>list of comments</td>
</tr>
<tr>
<td>comments.type</td>
<td>type of object, in our case "comment"</td>
</tr>
<tr>
<td>comments.author</td>
<td>information about the comment's author</td>
</tr>
<tr>
<td>comments.author.type</td>
<td>type of object, in our case "author"</td>
</tr>
<tr>
<td>comments.author.id</td>
<td>ID of the Comment Author</td>
</tr>
<tr>
<td>comments.author.url</td>
<td>URL to the author's information</td>
</tr>
<tr>
<td>comments.author.host</td>
<td>Home host of the author</td>
</tr>
<tr>
<td>comments.author.displayName</td>
<td>Display name of the author</td>
</tr>
<tr>
<td>comments.author.github</td>
<td>HATEOS URL for Github API</td>
</tr>
<tr>
<td>comments.author.profileImage</td>
<td>Image from a public domain</td>
</tr>
<tr>
<td>comments.comment</td>
<td>the content of the comment</td>
</tr>
<tr>
<td>comments.contentType</td>
<td>the content type of the comment</td>
</tr>
<tr>
<td>comments.published</td>
<td>ISO 8601 TIMESTAMP for when the comment was published</td>
</tr>
<tr>
<td>comments.id</td>
<td>ID of the comment</td>
</tr>
</tbody>
</table>
<h3 data-heading="List">List</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/{post_id}/comments?page=1&amp;size=2</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong>> Gets the list of comments of the post whose id is <code>post_id</code>. This call has <strong>pagination</strong> support.<br>
<strong>Example Response Body:</strong></p>
<pre><code>{
    "type":"comments",
    "page":1,
    "size":5,
	"post":"http://127.0.0.1:5454/authors/a02e3525-bb5a-44eb-852d-
			0f93f63d1a2c/posts/3d9f1a06-0d98-4466-9f64-8b79d97325db"
	"id":"http://127.0.0.1:5454/authors/a02e3525-bb5a-44eb-852d-
			0f93f63d1a2c/posts/3d9f1a06-0d98-4466-9f64-8b79d97325db/comments"
    "comments":[
        {
            "type":"comment",
            "author":{
                "type":"author",
                "id":"http://127.0.0.1:8000/authors/48002331-c8fa-4947-a012-
		                a2a8bafeff12",
                "url":"http://127.0.0.1:8000/authors/48002331-c8fa-4947-a012-
		                a2a8bafeff12",
                "host":"http://127.0.0.1:8000/",
                "displayName":"Skittles",
                "github": "http://github.com/skittlz",
                "profileImage": "https://i.imgur.com/k7XVwpB.jpeg"
            },
            "comment":"I like skittles",
            "contentType":"text/plaintext",
            "published":"2023-03-09T13:07:04+00:00",
            "id":"http://127.0.0.1:5454/authors/a02e3525-bb5a-44eb-852d-
					0f93f63d1a2c/posts/3d9f1a06-0d98-4466-9f64-8b79d97325db/comments/
					e6e04955-63a7-445f-a97e-aaab143e73ea",
        },
        {
            "type":"comment",
            "author":{
                "type":"author",
                "id":"http://127.0.0.1:8000/authors/6d44a8df-dc0b-44a1-b3a0-
		                1f6939a949ca",
                "url":"http://127.0.0.1:8000/authors/6d44a8df-dc0b-44a1-b3a0-
		                1f6939a949ca",
                "host":"http://127.0.0.1:8000/",
                "displayName":"Greg Johnson",
                "github": "http://github.com/gjohnson",
                "profileImage": "https://i.imgur.com/k7XVwpB.jpeg"
            },
            "comment":"Nice dude",
            "contentType":"text/plaintext",
            "published":"2023-04-09T13:07:04+00:00",
            "id":"http://127.0.0.1:5454/authors/a02e3525-bb5a-44eb-852d-
					0f93f63d1a2c/posts/3d9f1a06-0d98-4466-9f64-8b79d97325db/comments/
					c1eb1d0a-3300-433c-b5dc-740248c764c1",
        }
    ]
}
    
</code></pre>
<h3 id="CommentInbox" data-heading="Create">Create</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/inbox</code><br>
<strong>Method:</strong> POST <br>
<strong>Description:</strong> Sends a comment object to <code>author_id</code>'s inbox. Creates the object.<br>
<strong>Example Request Body:</strong></p>
<pre><code>{
      "type": "comment",
      "author": {
        "type": "author",
        "id": "http://127.0.0.1:8000/authors/7bdcfebf-6870-461b-b9ff-4f75f938f4e1",
        "url": "http://127.0.0.1:8000/authors/7bdcfebf-6870-461b-b9ff-4f75f938f4e1",
        "host": "http://127.0.0.1:8000/",
        "github": "https://github.com/sudo",
        "displayName": "sudo",
        "profileImage": "https://wiki.teamfortress.com/w/images/thumb/0/0f/
		        Meet_the_Heavy_SFM.png/550px-Meet_the_Heavy_SFM.png"
      },
      "comment": "hmmmmm",
      "contentType": "text/plain",
      "published": "2023-11-21 04:34:24.883929+00:00",
      "id": "http://127.0.0.1:8000/authors/9de17f29c12e8f97bcbbd34cc908f1baba40658e/
		      posts/adsigjdoasig/comments/35f9bb9c-9b3f-4029-8592-05f6db3b4018"
}
</code></pre>
<p><strong>Example Response Body</strong>: if the POST was successful, you should receive a <code>2XX</code> status and a response body that displays the newly created object (it should match the request body).</p>
<br></br>
<h2 id="Likes" data-heading="Likes">Likes</h2>
<hr>
<h3 data-heading="Request/Response Items">Request/Response Items</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>"Like"</td>
</tr>
<tr>
<td>summary</td>
<td>summary of like</td>
</tr>
<tr>
<td>context</td>
<td>context of like (URL)</td>
</tr>
<tr>
<td>author</td>
<td>author sending like</td>
</tr>
<tr>
<td>object</td>
<td>the liked object (URL to a post or comment)</td>
</tr>
</tbody>
</table>
<h3 id="LikeInbox" data-heading="Create">Create</h3>
<p><strong>Request URL</strong>: <code>http://service/authors/{author_id}/inbox</code><br>
<strong>Method:</strong> POST<br>
<strong>Description:</strong> Sends a like object to <code>author_id</code>'s inbox. Creates the object.<br>
<strong>Example Request Body:</strong></p>
<pre><code> {
     "context": "https://www.w3.org/ns/activitystreams",
     "summary": "Lara Croft Likes your post",         
     "type": "Like",
     "author":{
         "type":"author",
         "id":"http://remote/authors/9de17f29c12e8f97bcbbd34cc908f1baba40658e",
         "host":"http://remote/",
         "displayName":"Lara Croft",
         "url":"http://remote/authors/9de17f29c12e8f97bcbbd34cc908f1baba40658e",
         "github":"http://github.com/laracroft",
         "profileImage": "https://i.imgur.com/k7XVwpB.jpeg"
     },
     "object":"http://127.0.0.1:8000/authors/6d44a8df-dc0b-44a1-b3a0-
		     1f6939a949ca/posts/c3b38515-d6da-4c23-9df1-15ac4be5d929"
}
</code></pre>
<p><strong>Example Response Body</strong>: if the POST was successful, you should receive a <code>2XX</code> status and a response body that displays the newly created object (it should match the request body).</p>
<h3 data-heading="Post Likes">Post Likes</h3>
<p><mark style="background: #FF5582A6;">Still in progress</mark><br>
<strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/{post_id}/likes</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Retrieves a list of likes from other authors on <code>author_id</code>'s post <code>post_id</code></p>
<h3 data-heading="Comment Likes">Comment Likes</h3>
<p><mark style="background: #FF5582A6;">Still in progress</mark><br>
<strong>Request URL</strong>: <code>http://service/authors/{author_id}/posts/{post_id}/comments/{comment_id}/likes</code><br>
<strong>Method:</strong> GET<br>
<strong>Description:</strong> Retrieves a list of likes from other authors on <code>author_id</code>’s post <code>post_id</code> comment <code>comment_id</code></p>
<br></br>
<h2 id="Liked" data-heading="Liked">Liked</h2>
<hr>
<h3 data-heading="List">List</h3>
<p><mark style="background: #FF5582A6;">Still in progress</mark><br>
<strong>Request URL</strong>: <code>http://service/authors/{author_id}/liked</code><br>
<strong>Method:</strong> GET <br>
<strong>Description:</strong> Retrieves the list of public things that <code>author_id</code> has liked.</p>
<br></br>
<h2 id="Inbox" data-heading="Inbox">Inbox</h2>
<hr>
<p>Likes, comments, and follow requests sent to an author's inbox will create those objects and notify the user. Shared posts, however, will only notify the user; foreign posts are not stored, but should be retrievable for a user's timeline through the posts API.<br>
</p><div src="Pasted image 20231122120126.png" class="internal-embed"></div><p></p>
<p>Reference the following documentation for sending each item:<br>
<a class="internal-link" data-href="#Likes#Create" href="#LikeInbox">Likes</a><br>
<a class="internal-link" data-href="#Create" href="#CommentInbox">Comments</a><br>
<a class="internal-link" data-href="#FollowRequestInbox" href="#FollowRequestInbox">Follow Requests</a><br>
<a class="internal-link" data-href="#PostInbox" href="#PostInbox">Posts</a></p>
    </body>
</html>