{% extends "base_with_sidebar.html" %}

{% block content %}
<ul>
<h1>Follow Requests</h1>
<p>Note: this page might be removed if we decide to show friend requests on the homepage (considering they want us to
    send friend requests to the inbox along with any posts anyways).
</p>
{% for request in requests_list %}
    {% if user.username == request.recipient.username %} <!--only show requests where user is the recipient-->
        <h3>{{request.requester.username}} wants to follow you.</h3>
        <a href="{% url 'fq_accept' uuid=user.uuid fq_uuid=request.requester_uuid %}">Accept</a> | <a href="{% url 'fq_deny' uuid=user.uuid fq_uuid=request.requester_uuid %}">Deny</a> <!--CHATAGPT - 2023-10-22 - Prompt #1-->
    {% endif %}
{% empty %}
    <li>No friend requests yet.</li>
{% endfor %}
</ul>
{% endblock content %}