{% load static %}
<!DOCTYPE html>

<html style="margin: 0; height: 100%; overflow: hidden;">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Sign in{% endblock title %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--This is what i used to set the font! used font from google!-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">


    {% block css %}
    <link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href={% static 'images/monkey_icon.jpg' %}>
    {% endblock css %}
</head>


<body style="margin: 0; height: 100%; overflow: hidden;">
    <main>
        <div class="row-flex" style="display: flex; min-height: 100vh;">
            <div class="col-flex" style="flex: 32%; background-color:#FFD553;">
                <!--<h1 style="color: black; text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 40px; font-size:3vw;">ChimpChat</h1> REPLACED BY BOUNCING TEXT-->

                    <div class="row-flex">
                        <img src={% static 'images/monkey_icon.jpg'%} alt="" title = "" width="140" height="auto">
                        <div class="bouncing-text" style=" position:relative; ">
                            <div class="C" style="padding-top:20px;">C</div>
                            <div class="h" style="padding-top:20px;">h</div>
                            <div class="i" style="padding-top:20px;">i</div>
                            <div class="m" style="padding-top:20px;">m</div>
                            <div class="p" style="padding-top:20px;">p</div>
                            <div class="C2" style="padding-top:20px;">C</div>
                            <div class="h2" style="padding-top:20px;">h</div>
                            <div class="a" style="padding-top:20px;">a</div>
                            <div class="t" style="padding-right:8px; padding-top:20px;">t</div>

                        </div>
                    </div>

                <div style=" margin-top:120px; margin-bottom:20px; margin-left:10px; margin-right:10px;">
                    <p style="color: black;  margin: 0; position: absolute; top: 30%; left: 18%; -ms-transform: translate(-50%); transform: translate(-50%); font-size:4vw; width:22vw;">New Here?</p>

                    <p style="color: black; margin: 0; position: absolute; top: 45%; left: 16%; -ms-transform: translate(-50%); transform: translate(-50%); width:22vw; font-size:1.5vw;">
                        Create a free ChimpChat account to interact with others like yourself!
                    </p>

                    <form action="{% url 'signup' %}">
                        <button class="signup_button" type="submit" style=" margin: 0; position: absolute; top: 60%; left:16.5%; width:350px; -ms-transform: translate(-50%); transform: translate(-50%); width:350px;">Sign up</button>
                    </form><!--how i centered the button: https://www.w3schools.com/howto/howto_css_center_button.asp -->
                </div>

            </div><!--left column div-->
                



            <!--SECOND COLUMN HERE. for login-->
            <div class="col-flex" style="flex: 68%;">
  


                <div><!-- FOR BACKGROUND ANIMATION EFFECT-->
                    <ul class="circles">
                            <li><img src={% static 'images/A1.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A2.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A4.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A5.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A6.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A7.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A1.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A2.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A4.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                            <li><img src={% static 'images/A7.png'%} alt="" title = "" width="21px" height="auto" class=""></li>
                    </ul>
                </div ><!-- FOR BACKGROUND ANIMATION EFFECT-->

            
                <div>
                    <p style="color: #FFD553; margin: 0; position: absolute; top: 30%; left: 67%; -ms-transform: translate(-50%); transform: translate(-50%); font-size:4vw; width:40vw;">Log in to Your Account</p>
                
                </div>

                <form action="{% url 'login'%}">
                    <button class="post_button" type="submit" 
                    style="margin: 0; border-radius: 40px; position: absolute; top: 60%; left: 65.5%; -ms-transform: translate(-50%); transform: translate(-50%); width:350px; color:#1C1A19; font-size:30px">Log in</button>
                </form><!--how i centered the button: https://www.w3schools.com/howto/howto_css_center_button.asp -->
    


            </div><!--right column div-->
                
        </div><!--row div-->



    </main>
</body>

</html>
