{% extends "base_with_sidebar.html" %}

{% load static %}


{% block title %}Follow Requests{% endblock title %}


{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/main.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/inbox.css' %} ">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock css %}



{% block content %}
<h1 style="padding-left:35px; margin-top:20px;"><u>Inbox</u></h1>

<nav class="InboxNavbar">
    <button id="fq" class="InboxNavbar_Link" >Follow Requests</button>
    <button id="likes" class="InboxNavbar_Link">Likes</button>
    <button id="comments" class="InboxNavbar_Link">Comments</button>
    <button id="posts" class="InboxNavbar_Link">Posts</button>
</nav>

<div class="row-flex-container">

    <!-- FOLLOW REQUESTS -->
    <div id="follow-rq-box" class="inbox-container">
        <ul>
            {% for request in requests_list %}
                <div class="itemBacking">  
                    <img class="user_icon" style="width: 50px; height:50px; margin-right: 1em;" src="{{ request.data.profileImage }}">
                    <h3>{{request.data.displayName}} wants to follow you.</h3>
                    <button class="accept-follow" style="margin-left:1em; margin-top: 15px; width:40px; height:40px;" data-recipient-uuid="{{ request.recipient_uuid }}" data-requester-uuid="{{ request.requester_uuid }}">
                        <span class="material-symbols-outlined">done</span>
                    </button>
                    <button class="deny-follow" style="margin-left:1em; margin-top: 15px; width:40px; height:40px;" data-recipient-uuid="{{ request.recipient_uuid }}" data-requester-uuid="{{ request.requester_uuid }}">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                </div>
            {% empty %}
                <li style="margin-left: 40px;">No friend requests yet.</li>
            {% endfor %}
        </ul>
    </div>


    <!-- LIKES -->
    <div id="like-box" class="inbox-container">
        <ul>
            {% for like in likes %}
                <div class="itemBacking">  
                    <img class="user_icon" style="width: 50px; height:50px; margin-right: 1em;" src="{{ like.data.profileImage }}">
                    <h3>{{like.data.displayName}} liked your post.</h3>
                    <a href="{% url 'inbox_post_view' author_id=request.user.uuid inbox_index=like.index %}">View Post</a>
                </div>
            {% empty %}
                <li style="margin-left: 40px;">No likes yet.</li>
            {% endfor %}
            </ul>
    </div>


    <!-- COMMENTS -->
    <div id="comment-box" class="inbox-container">
        <ul>
            {% for comment in comments %}
                <div class="itemBacking">  
                    <img class="user_icon" style="width: 50px; height:50px; margin-right: 1em;" src="{{ comment.data.profileImage }}">
                    <h3>{{comment.data.displayName}} commented on your post.</h3>
                    <a href="{% url 'inbox_post_view' author_id=request.user.uuid inbox_index=comment.index %}">View Post</a>
                </div>
            {% empty %}
                <li style="margin-left: 40px;">No comments yet.</li>
            {% endfor %}
            </ul>
    </div>


    <!-- POSTS -->
    <div id="post-box" class="inbox-container">
        <ul>
            {% for post in posts %}
                <div class="itemBacking">  
                    <img class="user_icon" style="width: 50px; height:50px; margin-right: 1em;" src="{{ post.data.profileImage }}">
                    <h3>{{post.data.displayName}} posted.</h3>
                    <a href="{% url 'inbox_post_view' author_id=request.user.uuid inbox_index=post.index %}">View Post</a>
                </div>
            {% empty %}
                <li style="margin-left: 40px;">No posts yet.</li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    $(document).ready(function () {
        var csrfToken = $('meta[name=csrf-token]').attr('content');

        $(".accept-follow").click(function () {
            var recipient_uuid = $(this).data("recipient-uuid");
            var requester_uuid = $(this).data("requester-uuid");
            $.ajax({
                url: '{% url "accept_fq" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: { recipient_uuid: recipient_uuid, requester_uuid: requester_uuid },
                success: function (data) {
                    console.log("success")
                    location.reload();
                }
            });
        });

        $(".deny-follow").click(function () {
            var recipient_uuid = $(this).data("recipient-uuid");
            var requester_uuid = $(this).data("requester-uuid");
            $.ajax({
                url: '{% url "deny_fq" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: { recipient_uuid: recipient_uuid, requester_uuid: requester_uuid },
                success: function (data) {
                    console.log("success")
                    location.reload();
                }
            });
        });
    });
</script>

{% endblock content %}