<!-- DFB pg. 175 -->
{% extends "base_with_sidebar.html" %}
{% load static %}


{% block title %} Users {% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static '/css/flex.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static '/css/posts/create.css' %} ">
{% endblock css %}



{% block content %}
<ul style="list-style-type: none; padding:8px; padding-left:20px">
<h2 style="padding-left:20px; padding-bottom:10px;"><u>List of Users</u></h2>
{% for author in authors_list %}
    
    <div class="list_profiles_gradience"></div>

    <div class="userProfile_List_of_Users" style="display: flex; flex-direction: column; padding:15px; padding-left:45px; ">
        <a href="{% url 'author_profile' uuid=author.uuid %}" style="max-width:95px; max-height: 95px; border-radius:35px;"> <!--This is so that you can click on profile icon as a link!-->
            <li> <img src="{{ author.profile_image }}" class="user_icon" style="width: 90px; height: 90px; border-color:#FFD553;"> </li>
        </a>
        <li><a href="{% url 'author_profile' uuid=author.uuid %}" style=" word-break:break-all; font-size:20px;">{{ author.username }}</a></li>
    </div>
{% empty %}
    <li>No users yet. Database must be empty.</li>
{% endfor %}
</ul>
{% endblock content %}



<!--https://docs.djangoproject.com/en/4.2/ref/class-based-views/generic-display/-->