<!--This is the template for the share modal; used in dashboard.html (it's repeated twice there so wanted to avoid repetition)-->
<!--For some reason it won't let me put this in templates/posts/-->
<dialog class="share_modal" id="share_modal"> 
    <div class="col-flex">
    {% if post.unlisted == True %} <!--If post is unlisted, show anchor link-->
        <h1>Share Unlisted Post</h1>
        <a href="{% url 'single_post_view' post_uuid=post.uuid author_uuid=post.author_uuid %}">{{base_url}}/authors/{{post.author_uuid}}/posts/{{post.uuid}}/unlisted</a> <!--TODO make generic-->
    {% else %}
        <h1>Share with Followers</h1> <!--if not unlisted, give option to share to followers-->
        <div class ="followers-list"></div>   
    {% endif %}
    <button style="margin-right: 10px;" class="share-close-button" type="button">Cancel</button>
</dialog>
<button style="padding-top: 10px;" id="context_opener" class="context_button"><i class="material-symbols-outlined" style="color:white">more_vert</i></button>